{% extends 'base_usuario.html' %}
{% load static %}

{% block estilo %}
    <link href="{% static 'usuario/css/usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document"style="width:1500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Seja Bem-Vindo</h5>
        </div>
        <div class="modal-body">
            Essa plataforma foi desenvolvida para melhorar a comunicação interna entre os colaboradores da <br>
            <b>Innovatore Engenharia.</b><br><br>
            
            <b>Seja bem-vindo</b> e desfrute de todas as ferramentas disponíveis!<br><br>
            
            No seu primeiro acesso terá de ser realizado um breve cadastro, para continuar o uso da intranet.
        </div>
        <div class="modal-footer">
          <button type="button" class="cadastrar-modal" data-dismiss="modal" id="fecha-modal">Cadastrar</button>
        </div>
      </div>
    </div>
</div>

<div class='conatiner container-cadastro sombra'>
    <form method="post" action="{% url 'cadastro' %}" autocomplete='off' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class='row'>
            <div class="col-3">
                <label for="id_foto">Foto</label>
                <input type="file" name="foto" accept="image/*" id="id_foto">
            </div>
            <div class="col-3">
                <label for="id_fundo">Fundo</label>
                <input type="file" name="fundo" accept="image/*" id="id_fundo">
            </div>
            <input type="hidden" name="usuario" required="" id="id_usuario" value={{usuario_id}} class="col-4">
        </div>
        
        <br>
        <br>
        <h3>Informações Básicas</h3>


        <div class="row">
            <div class="form-group col-3">
                <label for="id_nome">Primeiro Nome</label>
                <input type="text" name="nome" maxlength="20" required="" id="id_nome"  placeholder="Digite o seu primeiro nome" class="form-control">
            </div>

            <div class="form-group col-2">
                <label for="id_sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" maxlength="50" required="" id="id_sobrenome" placeholder="Digite o seu sobre nome"class="form-control">
            </div>

            <div class="form-group col-2">
                <label for="{{ form.nascimento.id_for_label }}" >{{ form.nascimento.label }}</label>
                {{ form.nascimento }}
            </div>

            <div class="form-group col-1">
                <label for="{{ form.sexo.id_for_label }}" >{{ form.sexo.label }}</label>
                {{ form.sexo }}
            </div>
            
            <div class="form-group col-2">
                <label for="id_email">E-mail</label>
                <input type="email" name="email" maxlength="50" required="" id="id_email" class="form-control" placeholder="Digite o seu endereço de e-mail">
            </div>

            <div class="form-group col-2">
                <label for="id_contato">Contato</label>
                <input type="text" name="contato" maxlength="16" required="" id="id_contato" class="form-control" placeholder="Digite o seu telefone">
            </div>

            
            <div class="form-group col-4">
                <label for="id_endereco">Endereço</label>
                <input type="text" name="endereco" maxlength="50" required="" id="id_endereco" class="form-control" placeholder="Digite o nome  da sua rua ">
            </div>
            
            <div class="form-group col-3">
                <label for="id_bairro">Bairro</label>
                <input type="text" name="bairro"required="" id="id_bairro" class="form-control" placeholder="Digite o nome  do seu bairro ">
            </div>
            
            <div class="form-group col-3">
                <label for="id_cidade">Cidade</label>
                <input type="text" name="cidade" maxlength="50" required="" id="id_cidade" class="form-control" placeholder="Digite o nome  da sua cidade">
            </div>
            
            <div class="form-group col-2">
                <label for="{{ form.estado.id_for_label }}" >{{ form.estado.label }}</label>
                {{ form.estado }}
            </div>
            
            <div class="form-group col-2">
                <label for="id_numero">Número</label>
                <input type="text" name="numero" maxlength="15" required="" id="id_numero" class="form-control" placeholder="Número da residência">
            </div>
            
            <div class="form-group col-2">
                <label for="id_complemento">Complemento</label>
                <input type="text" name="complemento"id="id_complemento" required="" class="form-control" placeholder="Casa ou apartamento">
            </div>

            {% comment %} <div class="form-group col-2">
                <label for="id_cpf">CPF</label>
                <input type="text" name="cpf" maxlength="14" required="" id="id_cpf" class="form-control" placeholder="Digite o número do seu CPF">
            </div>
    
            <div class="form-group col-2">
                <label for="id_rg">RG</label>
                <input type="text" name="rg" maxlength="25" required="" id="id_rg" class="form-control" placeholder="Digite o número do seu RG">
            </div> {% endcomment %}
        </div>

        {% comment %} <br>
        <h3>Informações Profissionais</h3>

        <div class="row">
            <div class="form-group col-3">
                <label for="id_cargo_inicial">Cargo Inicial</label>
                <input type="text" name="cargo_inicial"required="" id="id_cargo_inicial"  class="form-control" placeholder="Digite a cargo que você iniciou na empresa">
            </div>

            <div class="form-group col-3">
                <label for="id_cargo">Cargo</label>
                <input type="text" name="cargo"required="" id="id_cargo" class="form-control" placeholder="Digite a sua função atual">
            </div>

            <div class="form-group col-2">
                <label for="id_setor">Setor Atual</label>
                <input type="text" name="setor"required="" id="id_setor" class="form-control" placeholder="">
            </div>

            <div class="form-group col-2">
                <label for="id_cidade_trabalho">Cidade em que Trabalha</label>
                <input type="text" name="cidade_trabalho"required="" id="id_cidade_trabalho" class="form-control" placeholder="Digite o nome  da sua cidade ">
            </div>

            <div class="form-group col-2">
                <label for="{{ form.estado_trabalho.id_for_label }}" >{{ form.estado_trabalho.label }}</label>
                {{ form.estado_trabalho }}
            </div>

            <div class="form-group col-2">
                <label for="{{ form.data_inicio.id_for_label }}" >{{ form.data_inicio.label }}</label>
                {{ form.data_inicio }}
            </div>

            <div class="form-group col-2">
                <label for="{{ form.data_mudanca.id_for_label }}" >{{ form.data_mudanca.label }}</label>
                {{ form.data_mudanca }}
            </div>
            
            <div class="form-group col-3">
                <label for="id_email_empresa">E-mail Corporativo</label>
                <input type="email" name="email_empresa"required="" id="id_email_empresa" class="form-control" placeholder="Digite o seu endereço de e-mail">
            </div>

            <div class="form-group col-2">
                <label for="id_telefone">Telefone Corporativo</label>
                <input type="text" name="telefone"required="" id="id_telefone" class="form-control" placeholder="Digite o seu contato telefônico">
            </div>

            <div class="form-group col-3">
                <label for="id_obra_trabalho">Obra em que Trabalha Atualmente</label>
                <input type="text" name="obra_trabalho"required="" id="id_obra_trabalho" class="form-control" placeholder="Digite o nome da obra ">
            </div>
        </div>    
            
        <h3> Experiência Profissional </h3>

        <div class="row">
            <div class="form-group col-12">
                <label for="id_texto_experiencia">Fale Um Pouco Sobre Você</label>
                <textarea name="texto_experiencia" id="id_texto_experiencia" class="form-control" placeholder="Escreva sobre seus anos de experiência, setor ou competências. Muitas pessoas também descrevem suas conquistas ou empregos anteriores." required=""></textarea>
                <hr>
            </div>
        </div>

<!--Formulário Experiencia-->
        {{ form_experiencia.management_form }}

        {% for fe in form_experiencia %}
        <div class="row inline-experiencia">   
            
            <div class="form-group col-3">
                <label for="{{fe.empresa.id_for_label}}">{{ fe.empresa.label }}</label>
                {{ fe.empresa }}
            </div>

            <div class="form-group col-3">
                <label for="{{fe.cargo_empresa.id_for_label}}">{{ fe.cargo_empresa.label }}</label>
                {{ fe.cargo_empresa }}
            </div>

            <div class="form-group col-3">
                <label for="{{fe.localidade.id_for_label}}">{{ fe.localidade.label }}</label>
                {{ fe.localidade }}
            </div>

            <div class="form-group col-2">
                <label for="{{fe.forma_trabalho.id_for_label}}">{{ fe.forma_trabalho.label }}</label>
                {{ fe.forma_trabalho }}
            </div>

            <div class="form-group col-2">
                <label for="{{fe.inicio_trabalho.id_for_label}}">{{ fe.inicio_trabalho.label }}</label>
                {{ fe.inicio_trabalho }}
            </div>

            <div class="form-group col-10">
                <label for="{{fe.descricao_trabalho.id_for_label}}">{{ fe.descricao_trabalho.label }}</label>
                {{ fe.descricao_trabalho }}
            </div>

            <div class="form-group col-2">
                <label for="{{fe.termino_trabalho.id_for_label}}">{{ fe.termino_trabalho.label }}</label>
                {{ fe.termino_trabalho }}
            </div>
            
            {% endfor %}
        </div>

        <hr>
<!--Formulário Formação-->

        <h3>Formação Academica</h3>

        {{ form_formacao.management_form }}

        {% for ff in form_formacao %}
        <div class="row inline-formacao">   
            
            <div class="form-group col-4">
                <label for="{{ff.instituicao.id_for_label}}">Instituição de Ensino</label>
                {{ ff.instituicao }}
            </div>

            <div class="form-group col-2">
                <label for="{{ff.diploma.id_for_label}}">Diploma</label>
                {{ ff.diploma }}
            </div>

            <div class="form-group col-4">
                <label for="{{ff.area_estudo.id_for_label}}">Área de estudo</label>
                {{ ff.area_estudo }}
            </div>

            <div class="form-group col-2">
                <label for="{{ff.inicio_faculdade.id_for_label}}">Início</label>
                {{ ff.inicio_faculdade }}
            </div>

            <div class="form-group col-10">
                <label for="{{ff.descricao_faculdade.id_for_label}}">Descrição</label>
                {{ ff.descricao_faculdade }}
            </div>

            <div class="form-group col-2">
                <label for="{{ff.termino_faculdade.id_for_label}}">Término</label>
                {{ ff.termino_faculdade }}
            </div>
            
            {% endfor %}
        </div>

<!-- Licenças ou Cursos -->

        <h3>Licenças ou Cursos</h3>

        {{ form_cursos.management_form }}

        {% for fc in form_cursos %}
        <div class="row inline-cursos">   
            
            <div class="form-group col-3">
                <label for="{{fc.nome_certificado.id_for_label}}">Nome do Certificado</label>
                {{ fc.nome_certificado }}
            </div>

            <div class="form-group col-3">
                <label for="{{fc.organizacao.id_for_label}}">Organização</label>
                {{ fc.organizacao }}
            </div>

            <div class="form-group col-2">
                <label for="{{fc.inicio_curso.id_for_label}}">Data de Início</label>
                {{ fc.inicio_curso }}
            </div>

            <div class="form-group col-2">
                <label for="{{fc.termino_curso.id_for_label}}">Data do Término</label>
                {{ fc.termino_curso }}
            </div>

            <div class="form-group col-2">
                <label for="{{fc.horas.id_for_label}}">Horas</label>
                {{ fc.horas }}
            </div>

            <div class="form-group col-12">
                <label for="{{fc.descricao_curso.id_for_label}}">Descrição</label>
                {{ fc.descricao_curso }}
            </div>
            
            {% endfor %}
        </div>

<!-- Habilidades -->

        <h3>Habilbidades</h3>

        {{ form_habilidades.management_form }}

        {% for fh in form_habilidades %}
        <div class="row inline-habilidades">   
            <div class="form-group col-3">
                <label for="{{fh.habilidades.id_for_label}}">Habilidades</label>
                {{ fh.habilidades }}
            </div>
        {% endfor %}
        </div>

<!--Hobbies-->
        <h3>Hobbies</h3>

        {{ form_hobbies.management_form }}

        {% for fho in form_hobbies %}
        <div class="row inline-hobbies">   
            
            <div class="form-group col-3">
                <label for="{{fho.hobbies.id_for_label}}">Hobbies</label>
                {{ fho.hobbies }}
            </div>
            
        {% endfor %}
        </div> {% endcomment %}


<!--************************************************************************-->
        <button class="editar-cadastro" type="submit">Salvar</button>  
        <a class="baixar-cadastro" href="{% url 'perfil' %}">Voltar</a>
    </form>
</div>
{% endblock %}
{% block scripts %}
    <!-- Script InLineForm Experiencia -->
    <script type="text/javascript">
        $(function() {
            $('.inline-experiencia').formset({
                prefix: '{{ form_experiencia.prefix }}',
                addText: '<img src={% static "usuario/img/adicionar.png" %} >',
                deleteText: 'Remover Experiência'
            });
        })
    </script>
    
    <!-- Script InLineForm Formação -->
    <script type="text/javascript">
        $(function() {
            $('.inline-formacao').formset({
                prefix: '{{ form_formacao.prefix }}',
                addText: '<img src={% static "usuario/img/adicionar.png" %} >',
                deleteText: 'Remover Experiência'
            });
        })
    </script>

    <!-- Script InLineForm Cursos -->
    <script type="text/javascript">
        $(function() {
            $('.inline-cursos').formset({
                prefix: '{{ form_cursos.prefix }}',
                addText: '<img src={% static "usuario/img/adicionar.png" %} >',
                deleteText: 'Remover Experiência'
            });
        })
    </script>

    <!-- Script InLineForm Habilidades -->
    <script type="text/javascript">
        $(function() {
            $('.inline-habilidades').formset({
                prefix: '{{ form_habilidades.prefix }}',
                addText: '<img src={% static "usuario/img/adicionar.png" %} >',
                deleteText: 'Remover Experiência'
            });
        })
    </script>

    <!-- Script InLineForm Hobbies -->
    <script type="text/javascript">
        $(function() {
            $('.inline-hobbies').formset({
                prefix: '{{ form_hobbies.prefix }}',
                addText: '<img src={% static "usuario/img/adicionar.png" %} >',
                deleteText: 'Remover Experiência'
            });
        })
    </script>
    
    

    <!-- Script Máscaras -->
    <script type="text/javascript" src="{% static 'usuario/js/jquery.mask.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#id_cpf').mask('000.000.000-00');
            $('#id_contato').mask('(00)99999-9999');
            $('#id_telefone').mask('(00)99999-9999');
        })
    </script>
    <script>
        $(document).ready(function() {
            $('#exampleModalCenter').modal('show');
        })

        $('#fecha-modal').click(function(){
            $('#exampleModalCenter').modal('hide')
        })
    </script>
{% endblock %}