{% extends 'base_usuario.html' %}
{% load static %}

{% block estilo %}
<link href="{% static 'usuario/css/usuario.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="perfil shadow"> 

    <h3>Informações Básicas</h3>

    <br> 
    <h4>{{ perfil.nome }} {{ perfil.sobrenome }} </h4>
    <p class="cargo">{{ perfil.cargo }}</p>
    <p class="local">{{ perfil.cidade_trabalho }}, {{ perfil.estado }}, Brasil</p>
    
    <h5>Resumo</h5>

    <p>{{ perfil.texto_experiencia }}</p>
    <br>

    <h5>Informações Profissionais</h5>

    
    <p>{{ perfil.cargo }}, {{ hoje|timeuntil:perfil.data_mudanca }}<br>
    {{ perfil.obra_trabalho }}, {{ perfil.cidade_trabalho }}, {{perfil.estado_trabalho }}</p>

    {% comment %} <p>{{ ex.forma_trabalho }}</p>
    <p>{{ ex.inicio_trabalho }}</p>
    <p>{{ ex.termino_trabalho }}</p>
    <p>{{ ex.descricao_trabalho }}</p>
    <a href="{% url 'deletar_experiencia' ex.id %}">remover</a>
    <br> {% endcomment %}

    

    <h5>Experiências Profissionais</h5>

    {% for ex in experiencia %}
    <div class="row">
        <div class="col-3">
            <p>{{ ex.empresa }}<br>{{ ex.cargo_empresa }}<br>{{ex.inicio_trabalho}} até {{ ex.termino_trabalho }}<br>
            {{ ex.localidade }}
            </p>
        </div>
        <div class="col-9">
            <p>{{ ex.descricao_trabalho }}</p>
        </div>
    </div>
    <a href="{% url 'deletar_experiencia' ex.id %}">remover</a>

    {% endfor %}

    {% comment %} <br>

    <p>{{ perfil.cargo }}, {{ perfil.data_mudanca|timeuntil:ex.inicio_trabalho   }}<br>


    {{ perfil.sexo }} 
    <br>
    {{ perfil.nascimento }} 
    <br>
    {{ perfil.email }} 
    <br>
    {{ perfil.contato }} 
    <br>
    <br>
    {{ perfil.endereco }} 
    <br>
    {{ perfil.bairro }} 
    <br>
    {{ perfil.cidade }} 
    <br>
    {{ perfil.estado }} 
    <br>
    {{ perfil.numero }} 
    <br>
    {{ perfil.complemento }} 
    <br>
    {{ perfil.cpf }} 
    <br>
    {{ perfil.rg }} 
    <br>

    <h2>Informações Plrofissionais</h2>

    <br>
    {{ perfil.cargo_inicial }}
    <br>
    {{ perfil.cargo }}
    <br>
    {{ perfil.setor }}
    <br>
    {{ perfil.cidade_trabalho }}
    <br>
    {{ perfil.estado_trabalho }}
    <br>
    {{ perfil.data_inicio }}
    <br>
    {{ perfil.data_mudanca }}
    <br>
    {{ perfil.email_empresa }}
    <br>
    {{ perfil.telefone }}
    <br>
    {{ perfil.obra_trabalho }}
    <br>

    <hr>

    <h2>Experiência Profissional</h2>

    {{ perfil.texto_experiencia }}

    {% for ex in experiencia %}

        <p>{{ ex.empresa }}</p>
        <p>{{ ex.localidade }}</p>
        <p>{{ ex.forma_trabalho }}</p>
        <p>{{ ex.inicio_trabalho }}</p>
        <p>{{ ex.termino_trabalho }}</p>
        <p>{{ ex.descricao_trabalho }}</p>
        <a href="{% url 'deletar_experiencia' ex.id %}">remover</a>
        <br>

    {% endfor %}

    <h2>Formação Acadêmica</h2>

    {% for fm in formacao %}

        <p>{{ fm.instituicao }}</p>
        <p>{{ fm.diploma }}</p>
        <p>{{ fm.area_estudo }}</p>
        <p>{{ fm.inicio_faculdade }}</p>
        <p>{{ fm.termino_faculdade }}</p>
        <p>{{ fm.descricao_faculdade }}</p>
        <hr>
        <a href="{% url 'deletar_formacao' fm.id %}">remover</a>
        <br>

    {% endfor %}

    <h2>Licenças e Cursos</h2>

    {% for fc in cursos %}

        <p>{{ fc.nome_certificado }}</p>
        <p>{{ fc.organizacao }}</p>
        <p>{{ fc.inicio_curso }}</p>
        <p>{{ fc.termino_curso }}</p>
        <p>{{ fc.horas }}</p>
        <p>{{ fc.descricao_curso }}</p>
        <a href="{% url 'deletar_curso' fc.id %}">remover</a>
        <br>

    {% endfor %}

    <h2>Habilidades</h2>

    {% for fh in habilidades %}

        <p>{{ fh.habilidades }}
            <a href="{% url 'deletar_habilidade' fh.id %}">remover</a>
            <br>

    {% endfor %}

    <h2>Hobbies</h2>

    {% for fho in hobbies %}

        <p>{{ fho.hobbies }}
        <a href="{% url 'deletar_hobbie' fho.id %}">remover</a>
        <br>

    {% endfor %}
    <hr>

    {% endcomment %}
    <a href="{% url 'editar' perfil.id %}">editar</a>

</div>
{% endblock %}