{% extends 'base.html' %}
{%load static%}

{% block estilo %}
    <link href="{% static 'documentos/css/doc.css' %}" rel="stylesheet">
{% endblock %}

{% block icones %}
    <div class="icones">
        <img class="icone-dash" src="{% static 'dashboard/img/icone-pasta.png' %}">
        <p>Documentos / </p>
        <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}">
        <div class="cabecalho_busca">
          <div class="busca_fundo">
              <form action= "">
                  <input type="text" name="buscar" class="input-busca">
                  <button class="botao-buscar" type="submit">
                      <img src="{% static 'documentos/img/lupa.png' %}">
                  </button>
              </form>
          </div>
      </div>
    </div>
{% endblock %}

{% block content%}
<h1 class="text-left ml-2 mb-2">Documentos / {{ nome }}</h1>
<div class="tabela">
  <div class="gerenciador">
    <h1>Gernciador de Arquivos</h1>
    {% if user.is_authenticated and user.is_staff %}
      <a href="{% url 'admin:index' %}"><img class="upload" src="{% static 'documentos/img/upload.png' %}"></a>
    {% endif %}
  </div>
  <div class="container-fluid">
    <div class="row">
      <table class="table col-12">
        <thead>
          <tr>
            <th class="titulo" scope="col">Nome</th>
            <th class="titulo" scope="col">Modificado</th>
            <th class="titulo" scope="col">Tamanho</th>
            <th class="titulo" scope="col">Tipo</th>
            <th class="titulo" scope="col"> </th>
          </tr>
        </thead>
        {% if lista_completa %}
        <tbody>
          {% for doc, i in lista_completa %}
            <tr>
              <td><img src="{% static 'documentos/img/img-doc.png' %}">{{ doc.nome }}</td>
              <td>{{ doc.modificado|date:"d/m/y" }}</td>
              <td>{{ i|filesizeformat }}</td>
              <td>{{ doc.tipo }}</td>
              <td class="text-right">
                <a href="127.0.0.1:8000{{ doc.doc.url }}" class="link"><img src="{% static "documentos/img/link.png" %}"></a>
                <a href="{{ doc.doc.url }}" class="link-download" download><img src="{% static "documentos/img/download.png" %}"></a>
              </td>

            </tr>
          {% endfor %}
        </tbody>
        {% endif %}
      </table>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% comment %} <a href="{% url 'documentos' %}" class="botao">Voltar</a> {% endcomment %}
        <a  class="botao" id="voltar">Voltar</a>
      </div>
    </div> 
</div>
</div>

<div class="container-fluid text-center paginacao">
{% if page.has_previous %}
  <a href="{% url url %}?page={{page.previous_page_number}}"><img src={% static 'documentos/img/anterior.png' %}></a>
{% endif %}
{% for i in page.paginator.page_range %}
    {% if page.number == i %}
      <p class="pagina-selecionada"><a>{{ i }}</a></p>
    {% else %}
      <a href="?page={{ i }}" class="paginas">{{ i }}</a>
    {% endif %}
{% endfor %}

{% if page.has_next %}
  <a href="{% url url %}?page={{page.next_page_number}}" style="margin-left: 32px;"><img src={% static "documentos/img/proximo.png" %}></a>
{% endif %}
</div>

</div>
</div>
{%  endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var links = document.querySelectorAll('.link');

            links.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault(); // Impede o link de navegar para a página

                    var linkURL = link.getAttribute('href');

                    // Cria um elemento de input oculto para copiar o texto
                    var input = document.createElement('input');
                    input.setAttribute('value', linkURL);
                    document.body.appendChild(input);

                    // Seleciona e copia o texto no input
                    input.select();
                    document.execCommand('copy');

                    // Remove o elemento de input
                    document.body.removeChild(input);

                    alert('Link copiado para a área de transferência: ' + linkURL);
                });
            });
        });
    </script>
    <script>
      function voltar() {
        history.back();
      }
      document.getElementById("voltar").addEventListener("click", voltar);
    </script>
{% endblock %}