{% extends "base_auth.html" %}
{% load static %}

{% block content %}
  
    <div class="login">
        <h1>Login</h1>
        <p class="login-p">Para acessar a nossa intranet, faça o login com o seu endereço de e-mail e senha</p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_username">E-mail:</label>
                <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required="" id="id_username">
            </div>
            <div class="form-group">
                <label for="id_password">Senha:</label>
                <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password">
            </div>
            <p class="redefinir-p"><a href="{% url 'password_reset' %}" class="redefinir">Redefinir Senha</a></p>
            {% if form.errors %}
                <p class="erro-login col-8">Usuário ou senha inválidos. Por favor tente novamente.</p>
            {% endif %}
            <button class="botao" type="submit">Login</button>
        </form>
        <p class="p-14">Sua conta está protegida por nossos <b class="b-14">Termos de Serviço e Política de Privacidade</b></p>
        <div class="logo-login">
            <img class="logo" src="{% static 'registration/img/LOGO INNOVATORE 1.png' %}">
        </div>
    </div>
    

{% endblock %}
