{% extends "base_auth.html" %}
{% load static %}
{% block content %}


    <div class="container tela-redefinir">   
        <h1> Redefina sua senha</h1>

        <p class="login-p">Enviaremos instruções por e-mail para ajudá-lo a redefinir a sua senhha.</p>

        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_email">E-mail:</label>
                <input type="email" class="form-control" name="email" autocomplete="off" maxlength="254" id="id_email">
            </div>

            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}

            <button type="submit" class="botao">Redefinir</button>
        </form>

        <a href={% url "login" %}><button class="botao-2">Voltar</button></a>

        <div class="logo-redefinir">
            <img class="logo" src="{% static 'registration/img/LOGO INNOVATORE 1.png' %}">
        </div>
    </div>

{%  endblock %}