{% extends "base_auth_senha.html" %}
{% load static %}

{% block content %}

<div class="redefinicao">
        <h1>Redefinição de Senha</h1>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <p class="requisitos">
                    <p>Lembre-se que a nova senha precisará conter: </p>
                    <ul>
                        <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                        <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                        <li>Sua senha não pode ser inteiramente numérica.</li>
                    </ul>
                </p>

                <div class="form-group nova-senha">
                    <label for="id_new_password1">Nova senha:</label>
                    <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1">
                </div>
                
                <div class="form-group">
                    <label for="id_new_password2">Confirmar nova senha:</label>
                    <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2">
                </div>
                <br>
                {% if form.errors %}
                    <p class="erro-login col-8">{{ form.errors }}</p>
                {% endif %}
                <button class="botao" type="submit">Confirmar</button>
            </form>
        {% else %}
            <p>Link de validçao inválido</p>
        {% endif %}
        <div class="logo-redefinicao">
            <img class="logo" src="{% static 'registration/img/LOGO INNOVATORE 1.png' %}">
        </div>
</div>
{% endblock %}