{% extends 'base.html' %} 
{%load static%} 

{% block estilo %}
<link href="{% static 'tarefas/css/tarefas.css' %}" rel="stylesheet" />
{% endblock %} 

{% block icones %}
<div class="icones">
  <img class="icone-dash" src="{% static 'tarefas/img/tarefas-topo.png' %}" />
  <p>Painel de Tarefas /</p>
</div>
{% endblock %} 

{% block content%}
<div class="first-line">
  <h1>Painel de Tarefas</h1>
  <div>
    <button type="button" class="button-minhas-tarefas sombra" data-toggle="modal" data-target="#modalCriarQuadro">
      Criar Quadro
    </button>

    <button class="button-tarefas-compartilhadas sombra dropdown-toggle"type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tarefas Compartilhadas </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for quadro in quadros_usuario %}
      <a class="dropdown-item" href={% url "tarefas/quadro" quadro.id %}>{{quadro.titulo}}</a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="first-line"style="margin-top:10vh;">
  <h1>{{ quadro.titulo }}</h1>
  <button type="button" class="button-minhas-tarefas sombra" data-toggle="modal" data-target="#modalAlterarTituloQuadro">
    Alterar Título
  </button>

  <!-- MODAL ALTERAR TÍTULO DO QUADRO -->
  
  <div class="modal fade" id="modalAlterarTituloQuadro" tabindex="-1" role="dialog" aria-labelledby="modalAlterarTituloQuadroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAlterarTituloQuadroLabel">Alterar Título</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'tarefas/alterar_titulo_quadro' quadro.id %}">
            {% csrf_token %}
            <label for="novo_titulo">Novo Título do Quadro:</label>
            <input type="text" id="novo_titulo" name="novo_titulo" value="{{ quadro.titulo }}" required>
            <br><br>
            <button type="submit">Alterar Título</button>
        </form>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>Participantes</h2>
    <ul>
      {% for usuario in quadro.usuario.all %}
          <li>
            {% if not usuario.foto%}
                {% if usuario.sexo == 'feminino' %}
                <img class="img-profile rounded-circle" src="{% static 'usuario/img/avatar-f.jpeg' %}">
                {% else %}
                <img class="img-profile rounded-circle" src="{% static 'usuario/img/avatar-m.jpeg' %}">
                {% endif %}
            {% else %}
                <img class="img-profile rounded-circle"src="{{ usuario.foto.url }}">
            {% endif %}
            {{ usuario.nome }} {{ usuario.sobrenome }} 
            <a href={% url 'tarefas/remover_participante' quadro.id usuario.id%} style="display:inline-block"> - </a></li>
      {% endfor %}
    </ul>
  
    <form method="post" action="{% url 'tarefas/adicionar_participante' quadro.id %}" class="add_participante">
      {% csrf_token %}
      <label for="select-user">Selecione um Participante</label>
      <select name="usuario" id="select-user" required>
        <option></option>
        {% for usuario in usuarios %}
        <option value={{usuario.id}}>{{usuario.nome}} {{usuario.sobrenome}}</option>
        {% endfor %}
      </select>
      <button>Adicionar Usuário </button>
    </form>
  </div>
</div>


<!-- MODAL CRIAR QUADRO -->
<div class="modal fade" id="modalCriarQuadro" tabindex="-1" role="dialog" aria-labelledby="modalCriarQuadroLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCriarQuadroLabel">Criar Novo Quadro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="form_criar_quadro" class="form_criar_quadro">
          <br><br>
          {% csrf_token %}
          <label for="titulo">Título do Quadro:</label>
          <input type="text" id="titulo" name="titulo" class=" form-control" required="">
          <input type="hidden" name="usuario" required="" value={{perfil.id}}>
          <br><br>
          <button id="cancelar_quadro">Cancelar</button>
          <button type="submit" id="botao_criar_quadro" name="criar_quadro">Criar Quadro</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid colunas">
<!-- Visualizar Colunas -->
  {% if colunas %}
    <div class="boards">
      {% for coluna in colunas %}
          <div class="board">
            <div class="title-card">
              <div class="titulo-tarefa">
                <h3>{{coluna.titulo}}</h3>
<!-- visualizar Tarefas-->
                <img src="{% static 'social/img/mais.png' %}">
              </div>
              <button class="add-tarefa sombra">+</button>
            </div>
            <div class="dropzone">
              <div class="card-kanban" draggable="true">
                <img src="{% static 'tarefas/img/card-1.png' %}">
                <p class="status erros">ERROS</p>
                <div class="content-card">Design do site: novos cartões para seção do blog e detalhe do perfil</div>
              </div>
            </div>
          </div>
    {% endfor %}
  {% endif %}
      <button type="button" class="botao botao-criar-coluna" data-toggle="modal" data-target="#modalCriarColuna">+</button>
    </div>


    <!-- MODAL ADICIONAR COLUNA -->
    <div class="modal fade" id="modalCriarColuna" tabindex="-1" role="dialog" aria-labelledby="modalCriarColunaLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCriarColunaLabel">Criar Nova Coluna</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" id="form_criar_coluna" class="form_criar_coluna">
              <br><br>
              {% csrf_token %}
              <label for="titulo">Título da Coluna:</label>
              <input type="text" id="titulo" name="titulo" class=" form-control" required="">
              <input type="hidden" name="quadro" required="" value={{quadro.id}}>
              <br><br>
              <button id="cancelar_coluna">Cancelar</button>
              <button type="submit" id="botao_criar_coluna" name="criar_coluna">Criar Coluna</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    

  {% comment %} <div class="board">
    <div class="title-card">
      <div class="titulo-tarefa">
        <h3>Em Andamento</h3>
      </div>
      <button class="add-tarefa sombra">+</button>
    </div>

    <div class="dropzone">
      <div class="card-kanban" draggable="true">
        <p class="status erros">ERROS</p>
        <div class="content-card">Corrigir erro do Firefox</div>
      </div>

      <div class="card-kanban" draggable="true">
        <p class="status atualizacao">Atualização</p>
        <div class="content-card">Panel argônio Pro</div>
      </div>

      <div class="dropzone">
        <div class="card-kanban" draggable="true">
          <img src="{% static 'tarefas/img/card-2.png' %}">
          <p class="status atualizacao">Atualizacao</p>
          <div class="content-card">Design do site: novos cartões para seção do blog e detalhe do perfil</div>
        </div>
      </div>

    </div>
  </div> 

  <div class="board">
    <div class="title-card">
      <div class="titulo-tarefa">
        <h3>Concluído</h3>
      </div>
      <button class="add-tarefa sombra">+</button>
    </div>  
    <div class="dropzone">
      <div class="card-kanban" draggable="true">
        <div class="status revisao">Em revisão</div>
        <div class="content-card">Next level</div>
      </div>
    </div>
  </div>{% endcomment %}
</div>
<a class="botao-remover-quadro" href="{% url "tarefas/remover_quadro" quadro.id  %}">Remover Quadro</a>
{% endblock %}

{% block scripts %} 
<script src="{% static 'tarefas/js/tarefas.js' %}"></script>

<script> 
  $("#criar_quadro").click(function(){
    $(".form_criar_quadro").removeClass("hidden")
  });
  $("#cancelar_quadro").click(function(){
    $(".form_criar_quadro").addClass("hidden")
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      document.addEventListener('keypress', function (e) {
          if (e.key === 'Enter') {
              // Verifica qual formulário está ativo
              if (document.activeElement.form.id === 'form_criar_quadro') {
                e.preventDefault();
                document.getElementById('botao_criar_quadro').click();
              }
              else if (document.activeElement.form.id === 'form_criar_coluna') {
                e.preventDefault();
                document.getElementById('botao_criar_coluna').click();
              } 
          }
      });
  });
</script>

{% endblock %}
