{% extends 'base.html' %} 
{%load static%} 

{% block estilo %}
<link href="{% static 'tarefas/css/tarefas.css' %}" rel="stylesheet" />
{% endblock %} 

{% block icones %}
<div class="icones">
  <img class="icone-dash" src="{% static 'tarefas/img/tarefas-topo.png' %}" />
  <p>Painel de Tarefas /</p>
  {% comment %}
  <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}" />
  {% endcomment %}
</div>
{% endblock %} 

{% block content%}
<div class="first-line">
  <h1>Painel de Tarefas</h1>
  <div>
    {% comment %} <button class="button-minhas-tarefas sombra" id="criar_quadro"> Criar Quadro </button> {% endcomment %}
    <button type="button" class="button-minhas-tarefas sombra" data-toggle="modal" data-target="#modalCriarQuadro">
      Criar Quadro
    </button>

    <button class="button-tarefas-compartilhadas sombra dropdown-toggle"type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tarefas Compartilhadas </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for quadro in quadros_usuario %}
      <a class="dropdown-item" href={% url "tarefas/quadro" quadro.id %}>{{quadro.titulo}}</a>
      {% endfor %}
    </div>
    <button class="botao"> + </button>
  </div>
</div>

{% comment %} <form method="post" action="{% url 'tarefas' %}" class="hidden form_criar_quadro">
  <br><br>
  {% csrf_token %}
  <label for="titulo">Título do Quadro:</label>
  <input type="text" id="titulo" name="titulo" class=" form-control col-6" required="">
  <input type="hidden" name="usuario" required="" value={{perfil.id}}>
  <br><br>
  <button id="cancelar_quadro">Cancelar</button>
  <button type="submit" name="criar_quadro">Criar Quadro</button>
</form> {% endcomment %}


<div class="modal fade" id="modalCriarQuadro" tabindex="-1" role="dialog" aria-labelledby="modalCriarQuadroLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCriarQuadroLabel">Criar Novo Quadro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'tarefas' %}" class="form_criar_quadro">
          <br><br>
          {% csrf_token %}
          <label for="titulo">Título do Quadro:</label>
          <input type="text" id="titulo" name="titulo" class=" form-control" required="">
          <input type="hidden" name="usuario" required="" value={{perfil.id}}>
          <br><br>
          <button id="cancelar_quadro">Cancelar</button>
          <button type="submit" name="criar_quadro">Criar Quadro</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="boards">

    <div class="board">
      <div class="title-card">
        <div class="titulo-tarefa">
          <h3>Pendências</h3>
          {% comment %} <img src="{% static 'social/img/mais.png' %}"> {% endcomment %}
        </div>
        <button class="add-tarefa sombra">+</button>
      </div>
      <div class="dropzone">
        <div class="card-kanban" draggable="true">
          <img src="{% static 'tarefas/img/card-1.png' %}">
          <p class="status erros">ERROS</p>
          <div class="content-card">Design do site: novos cartões para seção do blog e detalhe do perfil</div>
        </div>
      </div>
    </div>

    <div class="board">
      <div class="title-card">
        <div class="titulo-tarefa">
          <h3>Em Andamento</h3>
        </div>
        <button class="add-tarefa sombra">+</button>
      </div>

      <div class="dropzone">
        <div class="card-kanban" draggable="true">
          <p class="status erros">ERROS</p>
          <div class="content-card">Corrigir erro do Firefox</div>
        </div>

        <div class="card-kanban" draggable="true">
          <p class="status atualizacao">Atualização</p>
          <div class="content-card">Panel argônio Pro</div>
        </div>

        <div class="dropzone">
          <div class="card-kanban" draggable="true">
            <img src="{% static 'tarefas/img/card-2.png' %}">
            <p class="status atualizacao">Atualizacao</p>
            <div class="content-card">Design do site: novos cartões para seção do blog e detalhe do perfil</div>
          </div>
        </div>

      </div>
    </div>

    <div class="board">
      <div class="title-card">
        <div class="titulo-tarefa">
          <h3>Concluído</h3>
        </div>
        <button class="add-tarefa sombra">+</button>
      </div>
      <div class="dropzone">
        <div class="card-kanban" draggable="true">
          <div class="status revisao">Em revisão</div>
          <div class="content-card">Next level</div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block scripts %} 
<script src="{% static 'tarefas/js/tarefas.js' %}"></script>

<script> 
  $("#criar_quadro").click(function(){
    $(".form_criar_quadro").removeClass("hidden")
  });
  $("#cancelar_quadro").click(function(){
    $(".form_criar_quadro").addClass("hidden")
  });
</script>

{% endblock %}
