{% extends 'base.html' %} 
{%load static%} 

{% block estilo %}
<link href="{% static 'tarefas/css/tarefas.css' %}" rel="stylesheet" />
{% endblock %} 

{% block icones %}
<div class="icones">
  <img class="icone-dash" src="{% static 'tarefas/img/tarefas-topo.png' %}" />
  <p>Painel de Tarefas /</p>
  {% comment %}
  <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}" />
  {% endcomment %}
</div>
{% endblock %} 

{% block content%}
<h1>Painel de Tarefas</h1>
<div class="container">

  <div class="board">

    <div class="boards">
      <h3>Pendências</h3>
      <div class="dropzone">
        <div class="card-kanban" draggable="true">
          <div class="status"></div>
          <div class="content-card">Do videos</div>
        </div>
      </div>
    </div>

    <div class="boards">
      <h3>Em Andamento</h3>
      <div class="dropzone">
        <div class="card-kanban" draggable="true">
          <div class="status"></div>
          <div class="content-card">Fórum</div>
        </div>
      </div>
    </div>

    <div class="boards">
      <h3>Concluído</h3>
      <div class="dropzone">
        <div class="card-kanban" draggable="true">
          <div class="status"></div>
          <div class="content-card">Next level</div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block scripts %} 
<script src="{% static 'tarefas/js/tarefas.js' %}"></script>
{% endblock %}
