{% extends 'base.html' %} {%load static%} {% block estilo %}
<link href="{% static 'tarefas/css/tarefas.css' %}" rel="stylesheet" />
{% endblock %} {% block icones %}
<div class="icones">
  <img class="icone-dash" src="{% static 'tarefas/img/tarefas-topo.png' %}" />
  <p>Painel de Tarefas /</p>
  {% comment %}
  <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}" />
  {% endcomment %}
</div>
{% endblock %} {% block content%}
<h1>Painel de Tarefas</h1>
<div class="container">
  <h1 style="color: red">Em Breve</h1>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
</div>
{% endblock %}
