{% extends 'base.html' %}
{% load static %}

{% block estilo %}
    <link href="{% static 'social/css/social.css' %}" rel="stylesheet">
{% endblock %}

{% block icones %}
    <div class="icones">
        <img class="icone-dash" src="{% static 'cartao_visitas/img/icone-visitas.png' %}">
        <p>Rede Social / </p>
        {% comment %} <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}"> {% endcomment %}
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid primeira-linha">
    <h1 class="text-left ml-2 mb-2">Rede Social</h1>
    <button class="adicionar">+</button>
</div>

<div class="formulario-postagem">
    <form method="post" action="{% url 'social' %}" autocomplete='off' enctype='multipart/form-data'>
        {% csrf_token %}

            <input type="hidden" name="user" required="" value={{ perfil.id }}>

            <label for="imagem">Imagem</label>
            <input type="file" name="img" accept="image/*" id="imagem" class="form-control imagem-postagem">

            <label for="texto_postagem">Texto</label>
            <textarea type="text" class="form-control texto-postagem" name="texto_postagem" placeholder="Digite o Texto da Postagem" id="texto_postagem" required=""></textarea>
            <button type="submit" class="botao" name="form_post">Postar</button>
        <button class="fechar botao">Cancelar</button>
    </form>
</div>

<div class="contatos sombra">
    <h1 class="mb-2">Contatos</h1>
    <div class="contatos-interno">
        {% for usuario in usuarios %}
        <div class="nome-e-cargo">
                {% if not usuario.foto %}
                    {% if usuario.sexo == 'feminino' %}
                        <img class="foto-perfil" src={% static "usuario/img/avatar-f.jpeg" %}>
                    {% else %}
                        <img class="foto-perfil" src={% static "usuario/img/avatar-m.jpeg" %}>
                    {% endif %}
                {% else %}
                    <img class="foto-perfil" src={{ usuario.foto.url }}>
                {% endif %}
                    <p class="nome-contatos">{{ usuario.nome }} {{ usuario.sobrenome|truncatewords:2 }}</p>
                    {% if usuario.cargo %}
                        <p class="cargo">{{ usuario.cargo }}</p>
                    {% endif %}
        </div>
        {% endfor %}
    </div>
    <a href={% url 'contatos' %} class="link-contatos"> Mais Contatos </a>
</div>


{% for post in postagens %}
<div class="posts sombra open-chat-button" data-post-id={{ post.id }}>
    <div class="autor">
        {% if not post.user.foto %}
            {% if post.user.sexo == 'feminino' %}
                <img class="img-profile rounded-circle" src="{% static 'usuario/img/avatar-f.jpeg' %}">
            {% else %}
                <img class="img-profile rounded-circle" src="{% static 'usuario/img/avatar-m.jpeg' %}">
            {% endif %}
        {% else %}
            <img class="img-profile rounded-circle"src="{{ post.user.foto.url }}">
        {% endif %}
        <p class="nome">{{post.user.nome}} {{ post.user.sobrenome }}</p>
        <p class="tempo-postagem">{{ post.criado_em|timesince }} atrás</p>
        {% if post.user.id == perfil.id %}
            
            <div class="dropdown">
                    <img src="{% static 'social/img/mais.png' %}" class="mais dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item editar_postagem"data-post-id="{{ post.id }}">Editar</button>
                  <a class="dropdown-item" href={% url 'excluir_post' post.id %}>Excluir</a>
                </div>
            </div>

            <!--EDITAR POSTAGEM-->
            <div class="formulario_editar_postagem" data-post-id="{{post.id}}">
                <form method="post" action="{% url 'editar_postagem' post.id %}" autocomplete='off' enctype='multipart/form-data'>
                    {% csrf_token %}
            
                    <input type="hidden" name="user " required="" value={{ perfil.id }}>
        
                    <label for="imagem">Imagem</label>
                    <input type="file" name="img" accept="image/*" id="imagem" class="form-control imagem-postagem" value={{post.img}}>
        
                    <label for="texto_postagem">Texto</label>
                    <textarea type="text" class="form-control texto-postagem" name="texto_postagem" id="texto_postagem" required="">{{post.texto_postagem}}</textarea>
                    <button type="submit" class="botao" name="form_post">Editar</button>
                    <button type="button"class="fechar_editar_postagem botao" data-post-id="{{post.id}}">Cancelar</button>
                </form>
            </div>
        {% endif %}
    </div>

    {% if post.texto_postagem %}
        <pre class="descricao">{{post.texto_postagem|safe}}</pre>
    {% endif %}

    {% if post.img %}
        <img src={{post.img.url}} class="rounded mx-auto d-block imagem-postada">
    {% endif %}

    <div class="icones-post">
        {% if post.id in user_likes %}
            <p class="likes-p like-preenchido-{{post.id}}" ><img src="{% static 'social/img/like_preenchido.jpeg' %}"><span id="likes-{{post.id}}">{{ post.like_set.all|length }}</span></p>
        {% else %}
            <p class="likes-p like-vazio-{{post.id}}"><img src="{% static 'social/img/like.jpeg' %}"><span id="likes-{{post.id}}">{{ post.like_set.all|length }}</p>
        {% endif %}


        <p class="comentarios-p"><img src={% static 'social/img/comentario.png' %}>{{ post.comentarios_set.all|length }}</p>


    </div>


<!--                Visualização de Comentários               -->
<div class="container-comentarios">
    <div  id="chat-log-{{post.id}}">
    {% for comentario in post.comentarios_set.all %}

        <div class="texto-comentario">
            {% if not comentario.user.foto %}
                {% if comentario.user.sexo == 'feminino' %}
                    <img class="img-comentario" src={% static "usuario/img/avatar-f.jpeg" %}>
                {% else %}
                    <img class="img-comentario" src={% static "usuario/img/avatar-m.jpeg" %}>
                {% endif %}
            {% else %}
                <img src="{{comentario.user.foto.url}}" class="img-comentario">
            {% endif %}

            <p class="nome-comentario">{{comentario.user.nome}} {{ comentario.user.sobrenome }}</p>
            <p class="texto-comentario-p">{{ comentario.texto_comentario }}</p>
            {% comment %} <p class="icone-comentarios-p"><img src={% static 'social/img/like.png' %}>25</p> {% endcomment %}
            {% if comentario.user.id == perfil.id %}
                <a href={% url 'excluir_comentario' comentario.id %} class="link-excluir-comentario">Excluir</a>
                <a style="cursor:pointer" class="link-editar-comentario editar_comentario" data-comentario-id="{{ comentario.id }}">Editar</a>
            {% endif %}
        </div>

        <!--EDITAR COMENTÁRIO-->
        <div class="formulario_editar_comentario" data-comentario-id="{{comentario.id}}">
            <form method="post" action="{% url 'editar_comentario' comentario.id %}" autocomplete='off'>
                {% csrf_token %}

                <input type="hidden" name="user" required="" value={{ perfil.id }}>
                <input type="hidden" name="post" required="" value={{ post.id }}>
                <input type="hidden" name="criado_em" value="{{comentario.criado_em}}">

                <label for="texto_comentario">Texto</label>
                <input type="text" class="form-control texto-postagem" name="texto_comentario" id="texto_comentario" required="" value="{{comentario.texto_comentario}}">
                <button type="submit" class="botao" name="form_comentario">Editar</button>
                <button type="button"class="fechar_editar_comentario botao" data-comentario-id="{{comentario.id}}">Cancelar</button>
            </form>
        </div>

    {% endfor %}
</div>
</div>
<!--                Fim da Visualização               -->




    <div class="div-comentario form-inline">
        
        {% if not perfil.foto %}
            {% if perfil.sexo == 'feminino' %}
                <img class="img-input-comentario" src={% static "usuario/img/avatar-f.jpeg" %}>
            {% else %}
                <img class="img-input-comentario" src={% static "usuario/img/avatar-m.jpeg" %}>
            {% endif %}
        {% else %}
            <img src="{{perfil.foto.url}}" class="img-input-comentario">
        {% endif %}
            <input type="hidden" name="user" value={{perfil.id}}>
            <input type="hidden" name="post" value={{post.id}}>
            <input type="text" class="form-control" id="chat-message-input-{{post.id}}"placeholder="Escreva o seu comentário" style="width: 83.5%; margin-right: 12px" name="texto_comentario">
            <button type="submit" class="botao-comentar" id="chat-message-submit-{{post.id}}" name="form_comentario">Comentar</button>
            <p style="display:none;" id="room-chat-{{post.id}}">{{post.id}}</p><br><br>
            
            <script>
                document.querySelectorAll('.open-chat-button').forEach(function(document) {

                    document.addEventListener("click", function() {
                        if (!document.hasAttribute('data-click-listener')) {
                            // Obtenha o ID do objeto clicado
                            var postId = this.getAttribute('data-post-id');
                            initializeChat('#chat-log-'+ postId, '#chat-message-input-'+ postId, '#chat-message-submit-'+ postId, '#room-chat-'+ postId,{{perfil.id}}, {{post.id}});
                            
                            document.setAttribute('data-click-listener', 'true');
                        }
                    });
                    
                });
            </script>
    </div>
</div>
{% endfor %}


{% endblock %}

{% block scripts %}

<script>
    // gerar formulário de postagem
    $(document).on('click', '.adicionar', function(){
        $(".formulario-postagem").css("display","block");
    });
    $(document).on('click', '.fechar', function(){
        $(".formulario-postagem").css("display","none");
    });

    //gerar formulário para editar postagem
    $(document).on('click', '.editar_postagem', function(){
        var postID = $(this).data('post-id');
        $(".formulario_editar_postagem[data-post-id='" + postID + "']").css("display", "block");
    });
    
    $(document).on('click', '.fechar_editar_postagem', function(){
        var postID = $(this).data('post-id');
        $(".formulario_editar_postagem[data-post-id='" + postID + "']").css("display", "none");
    });

    //gerar formulário para editar comentário
    $(document).on('click', '.editar_comentario', function(){
        var comentarioID = $(this).data('comentario-id');
        $(".formulario_editar_comentario[data-comentario-id='" + comentarioID + "']").css("display", "block");
    });
    
    $(document).on('click', '.fechar_editar_comentario', function(){
        var comentarioID = $(this).data('comentario-id');
        $(".formulario_editar_comentario[data-comentario-id='" + comentarioID + "']").css("display", "none");
    });

</script>

{% endblock %}