{% extends 'base.html' %}
{% load static %}

{% block estilo %}
<!-- carousel 1-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css"rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css"rel="stylesheet">

    <link href="{% static 'institucional/css/institucional.css' %}" rel="stylesheet">
    <link href="{% static 'institucional/css/carrossel.css' %}" rel="stylesheet">

{% endblock %}

{% block icones %}
    <div class="icones">
        <img class="icone-dash" src="{% static 'institucional/img/icone-institucional.png' %}">
        <p style="color:white">Documentos / </p>
        {% comment %} <img class="icone-menu" src="{% static 'dashboard/img/menu.png' %}"> {% endcomment %}
    </div>

{% endblock %}

{% block content %}
    <h1 class="h1-institucional">Institucional</h1>
    <img src="{% static 'institucional/img/topo-institucional.png' %}" class="img-topo-institucional">
    <div class="bem-vindos">
        <p id="p-cinza">Quem Somos</p>
        <h1>Bem-Vindos!</h1>
        <br>
        <p>A Innovatore é mais que uma construtora; somos arquitetos do futuro. Com <b>oito anos de existência</b> e excelência, firmamos parcerias sólidas no setor privado, destacando-nos tanto no comercial quanto no industrial. Nossa qualidade e soluções personalizadas nos elevam no mercado.<br><br>

            Realizamos projetos icônicos, como Dexco, Saint-Gobain, Auren, Raízen, Ambev, desafiando-nos a entregar soluções eficientes, fortalecendo nossa reputação e impulsionando o desenvolvimento econômico e social.<br><br>
            
            Nossa equipe de mais de  <b>50 engenheiros</b> altamente capacitados é o alicerce do nosso sucesso, investindo paixão e competência diariamente. Acreditamos que nossos resultados refletem a dedicação de nossos profissionais. <br><br>
            
            Com mais de <b>500 colaboradores</b>, formamos um time comprometido em superar expectativas. <br><br>
            
            Investimos em seu crescimento, criando um ambiente inspirador e com oportunidades de crescimento.<br><br>
            
            Hoje, atuamos apenas em território brasileiro, mas nosso olhar vai além. Até 2025, planejamos internacionalizar, com sede em Houston, EUA, para explorar horizontes globais na indústria.<br><br>
            
            Nossas metas são ousadas e respaldadas por nossa equipe comprometida. Continuaremos construindo legados, transformando ideias em realidade, buscando inovação e confiança, e contribuindo para a expansão da construção civil.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Oj_dYyD13WI?si=4VggHhMOnAvC2jPn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width:100%;height:860px; margin-top: 120px;"></iframe>
    </div>

    <!-- Anos -->
    <div class="anos p-3">
        <div id="div-2015" class="ano-div mostrar">
            <div class="imagem-anos">
                <img src="{% static 'institucional/img/marco-0.png' %}" class="img-anos">
            </div>
            <div class="texto-anos">
                <p class="p-cinza">2015</p>
                <h1>Fundação e Primeiros Passos:</h1>
                <p class="texto-anos-p">Em 2015, nasce a Innovatore Engenharia em uma garagem na cidade de Limeira/SP. Seu foco inicial era a construção de casas de alto padrão, realizando mais de 40 projetos residenciais. O sucesso e a qualidade dessas construções abriram portas para oportunidades em obras privadas nos segmentos industrial e comercial de alto fluxo. A Innovatore expandiu sua atuação para mais de dez estados do Brasil, levando a uma pausa nas construções residenciais.</p>
            </div>
        </div>

        <div id="div-2017" class="ano-div">
            <div class="imagem-anos">
                <img src="{% static 'institucional/img/2017.jpeg' %}" class="img-anos">
            </div>
            <div class="texto-anos">
                <p class="p-cinza">2017</p>
                <h1>ISO 9001:</h1>
                <p class="texto-anos-p">Em 2017, a Innovatore alcança um marco significativo ao conquistar a certificação ISO 9001. Esse reconhecimento internacional atesta o compromisso da empresa com a qualidade em seus processos e serviços, destacando-se no cenário da construção civil.</p>
            </div>
        </div>

        {% comment %} <div id="div-2019" class="ano-div">
            <div class="imagem-anos">
                <img src="{% static 'institucional/img/2019.jpeg' %}" class="img-anos">
            </div>
            <div class="texto-anos">
                <p class="p-cinza">2019</p>
                <h1>Consolidação e Nova Sede:</h1>
                <p class="texto-anos-p">Dois anos depois, em 2019, a Innovatore consolida sua presença ao estabelecer uma nova sede em São Paulo/SP. Essa mudança representa um passo importante para a empresa, que, neste ponto, já é reconhecida como uma protagonista no setor da construção civil.</p>
            </div>
        </div> {% endcomment %}
        <div id="div-2021" class="ano-div">
            <div class="imagem-anos">
                <img src="{% static 'institucional/img/2021.jpeg' %}" class="img-anos">
            </div>
            <div class="texto-anos">
                <p class="p-cinza">2021</p>
                <h1>150 Obras Entregues:</h1>
                <p class="texto-anos-p">O ano de 2021 é marcado por um impressionante marco: a Innovatore entrega mais de 150 obras. Esse número expressivo reflete a capacidade da empresa em gerenciar e concluir projetos diversificados, solidificando sua posição no mercado.</p>
            </div>
        </div>
        <div id="div-2022" class="ano-div">
            <div class="imagem-anos">
                <img src="{% static 'institucional/img/2022.jpeg' %}" class="img-anos">
            </div>
            <div class="texto-anos">
                <p class="p-cinza">2022</p>
                <h1>Certificação DUNS:</h1>
                <p class="texto-anos-p">Em 2022, a Innovatore expande sua presença internacional ao obter a certificação DUNS. Esse reconhecimento é uma identidade comercial internacional que valida a saúde administrativa e financeira da empresa. Essa certificação proporciona segurança e credibilidade aos clientes e investidores.</p>
            </div>
        </div>
        <div id="div-2023" class="ano-div">
            <div class="imagem-anos">
                <img src="{% static 'institucional/img/2023.jpeg' %}" class="img-anos">
            </div>
            <div class="texto-anos">
                <p class="p-cinza">2023</p>
                <h1>ISOs 14001 e 45001:</h1>
                <p class="texto-anos-p">No presente ano, 2023, a Innovatore atinge um novo patamar ao conquistar as certificações ISO 14001 (Gestão Ambiental) e ISO 45001 (Saúde e Segurança Ocupacional). Essas certificações internacionais evidenciam o compromisso da empresa com práticas sustentáveis e o cuidado com a saúde e segurança de seus colaboradores.</p>
            </div>
        </div>
    </div>

    <div class="anos-numeros text-center">
        <a class="ano-2015" style="font-weight: 700">2015</a>
        <a class="ano-2017">2017</a>
        {% comment %} <a class="ano-2019">2019</a> {% endcomment %}
        <a class="ano-2021">2021</a>
        <a class="ano-2022">2022</a>
        <a class="ano-2023">2023</a>
    </div>

    <div class="negocios">
        <h1>Negócios</h1>
        <p class="negocios-descricao">Nossa equipe técnica e comercial está ativamente envolvida no setor privado, executando projetos industriais, comerciais, atacadistas e construções de galpões logísticos. Durante nossos oito anos de atuação, já concluímos com sucesso mais de 150 obras em 14 estados brasileiros.
        Por meio de nossas atividades comerciais e investimentos, estamos desempenhando um papel significativo no desenvolvimento das regiões onde estamos presentes.
        </p>
        <div class="row justify-content-center" style="max-width: 100%">
            <div class="col-4 text-center">
                <img src="{% static 'institucional/img/users.png' %}">
                <p class="quantidade">+ 500</p>
                <p>Colaboradores Ativos</p>
            </div>
            <div class="col-4 text-center">
                <img src="{% static 'institucional/img/engenheiros.png' %}">
                <p class="quantidade">+ 50</p>
                <p>Engenheiros</p>
            </div>
            <div class="col-4 text-center mr-0">
                <img src="{% static 'institucional/img/obras.png' %}">
                <br>
                <p class="quantidade">+ 150</p>
                <p>Obras Entregues</p>
            </div>
        </div>
    </div>

    <div class="certificacoes">
        <span span-certificacoes>Certificações</span>
        <h1>ISO's</h1>
        <p>Somos certificados com as <b>ISO 9001, ISO 14001 e ISO 45001</b>, que nos posiciona entre as  melhores construtoras do mercado. Onde nossos processos de gestão e qualidade são validados por normas internacionais.<br><br>

            A certificação <b>ISO 9001</b>, atesta a qualidade dos processos de gestão da nossa empresa. Ela nos mantém atualizados em relação às melhores práticas do mercado, otimizando a melhoria contínua de nossos processos internos. <br><br>
            
            O ISO 14001, valida a nossa responsabilidade com a preservação do meio ambiente, com recursos produtivos e sustentáveis, minimizando os impactos ambientais em nossas atividades. Atuando de forma responsável em relação ao meio ambiente e à sociedade.<br><br>
            
            Com o certificado <b>ISO 45001</b>, focamos na segurança e na saúde dos nossos colaboradores. Promovendo um ambiente de trabalho melhor, para que toda a equipe possa desenvolver seu maior potencial, impactando positivamente na qualidade e no atendimento de nossos clientes.<br><br>
            
            Essas certificações validam o compromisso que temos com a qualidade, a sustentabilidade, a responsabilidade social e a segurança, para garantir a satisfação do cliente e a consolidação da nossa empresa no mercado. 
            </p>
    </div>

    <div class=" row missao-visao">
        <div class="col-6 p-0">
            <h1>Missão</h1>
            <p class="text-left">Transformar o presente construindo o futuro, deixando um legado em cada obra realizada, impulsionando o emprego e o crescimento das comunidades locais.</p>
        </div>
        <div class="col-6">
            <h1>Visão</h1>
            <p class="text-left">Ser uma empresa referência no setor da construção civil, atendendo as demandas com uma estrutura competente e otimizada que nos permita enfrentar novos desafios e continuar a superar as expectativas de nossos clientes, possibilitando assim o crescimento sólido e a consequente expansão de nossas atividades.
            </p>
        </div>
    </div>

    <!-- Carrossel -->
    <div class="box-carrossel">
        <h2 class="titulo-item">Valores</h2>
        <div class="carrossel">
            <div class="carrossel-item align-itens-left">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/seguranca.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Segurança</h2>

                    <ul class="ul-seguranca">
                        <li>A vida em primeira lugar.</li>
                    </ul>
                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>

            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/produtividade.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Proatividade e Inovação</h2>

                    <ul class="ul-proatividade">
                        <li>Buscar soluções criativas e inovadoras para os desafios;</li>
                        <li>Agir com iniciativa e buscar constantemente melhorias;</li>
                        <li>Estar aberto a novas ideias e formas de realizar as coisas.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>

            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/comprometimento.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Comprometimento</h2>
                    <ul class="ul-comprometimento">
                        <li>Dedicação, responsabilidade e envolvimento da sua função com o restante da empresa.</li>
                    </ul>
                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>

            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/etica.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Ética e Integridade</h2>
                    <ul class="ul-etica">
                        <li>Praticar ações honestas e transparentes;</li>
                        <li>Respeitar os princípios éticos em todas as atividades;</li>
                        <li>Cumprir normas e políticas organizacionais.</li>
                    </ul>
                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>

            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/honestidade.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Honestidade e Transparência</h2>

                    <ul class="ul-honestidade">
                        <li>Agir com transparência em todas as interações;</li>
                        <li>Comunicar informações de maneira honesta e clara;</li>
                        <li>Ser transparente em decisões e processos internos e externos.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>
            
            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/desenvolvimento.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Desenvolvimento Contínuo</h2>

                    <ul class="ul-desenvolvimento">
                        <li>Investir na capacitação e crescimento de nossos colaboradores;</li>
                        <li>Estimular a aprendizagem e a inovação em todas as áreas;</li>
                        <li>Buscar sempre novas oportunidades de aprimoramento.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>
            
            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/responsabilidade.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Responsabilidade Socioambiental</h2>

                    <ul class="ul-responsabilidade">
                        <li>Considerar o impacto social e ambiental de nossas ações;</li>
                        <li>Promover práticas sustentáveis em todas as atividades;</li>
                        <li>Contribuir para o bem-estar da comunidade e a preservação do meio ambiente.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>
            
            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/foco.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Foco em Resultados</h2>

                    <ul class="ul-foco">
                        <li>Ter uma mentalidade voltada para objetivos e metas;</li>
                        <li>Agir com responsabilidade e paixão por desafios;</li>
                        <li>Monitorar constantemente os resultados e buscar melhorias.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>
            
            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/colaboracao.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Colaboração e Trabalho em Equipe</h2>

                    <ul class="ul-colaboracao">
                        <li>Promover a colaboração entre colegas e departamentos;</li>
                        <li>Compartilhar conhecimentos e experiências para fortalecer a equipe;</li>
                        <li>Contribuir para um ambiente de trabalho positivo e colaborativo.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>
            
            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/respeito.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Respeito e Diversidade</h2>

                    <ul class="ul-respeito">
                        <li>Valorizar a diversidade de ideias, culturas e perspectivas;</li>
                        <li>Tratar todas as pessoas com respeito e equidade;</li>
                        <li>Promover um ambiente inclusivo e colaborativo.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                    </div>
                </div>
            </div>
            
            <div class="carrossel-item">
                <img class="imagem-carrossel mt-5"src="{% static 'institucional/img/adaptacao.jpg' %}">
                <div class="texto-carrossel text-left">
                    <h2 class="sub-titulo-item">Adaptação e Flexibilidade</h2>

                    <ul class="ul-adaptacao">
                        <li>Estar aberto a mudanças e disposto a se adaptar a novas situações;</li>
                        <li>Responder de maneira ágil e eficaz às demandas do mercado;</li>
                        <li>Manter uma mentalidade aberta às mudanças necessárias.</li>
                    </ul>

                    <div class="pontos">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto.png' %}">
                        <img class="ponto" src="{% static 'institucional/img/ponto-selecionado.png' %}">
                    </div>
                </div>
            </div>
        </div>

        <div class="setas text-right">
            <img class="prev" src="{% static 'institucional/img/prev.png' %}">
            <img class="next" src="{% static 'institucional/img/next.png' %}">
        </div>
    </div>
    


</div>
</div>
{% endblock %}
{% block scripts %}

<!-- carousel - 1-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>

{% comment %} <script type="text/javascript">
    $('.carousel').slick({
        dots: true,
        infinite: true,
        speed: 1500,
        slidesToShow: 2,
        slidesToScroll: 2,
        prevArrow: '<div class="custom-slick"><span class="fa fa-angle-left"></span><span class="sr-only">Prev</span></div>',
        nextArrow: '<div class="custom-slick"><span class="fa fa-angle-right"></span><span class="sr-only">Next</span></div>'
    });
</script> {% endcomment %}

<!-- anos -->
<script src="{% static 'institucional/js/institucional.js' %}"></script>
<script src="{% static 'institucional/js/carrossel.js' %}"></script>

{% endblock %}