html {
    background-color: #f9f9f9;
}

.conteudo-base {
    background-color: #f9f9f9;
    min-height: 100%;

}

.cabecalho_busca {
    display: inline-block;
}

.input-busca {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}

.botao-buscar {
    border: none;
    background-color: transparent;
}

h1 {
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #14355E;
    margin-bottom: 37px;
}

.titulo {
    color: #14355E !important;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

td {
    padding: 32px 0px 32px 12px !important;
    text-align: center;
}

.gerenciador {
    margin-bottom: -50px;
    height: 180px;
}

.gerenciador h1 {
    padding-top: 24px;
}

.upload {
    position: relative;
    top: -70px;
    left: 95%;
}

.tabela {
    background-color: white;
    margin-right: 32px;
    margin-left: 10px;
    border-radius: 12px;
}

.tabela .container-fluid .table td {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}

.tabela .container-fluid .table th {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #14355E;
}

img {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.link-download {
    margin-left: 16px;
}

.botao {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 36px;
    margin-bottom: 24px;
    cursor: pointer;

    display: flex;
    width: 100%;
    float: right;
    width: 160px;
    height: 64px;
    padding: 12px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(90deg, #14295E 0%, #2568BB 100%);
    color: white;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.botao:hover {
    text-decoration: none;
    color: white;
}

.paginacao {
    background-color: transparent;
    margin-top: 50px;
    padding-bottom: 52px;
}

.paginas {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    margin-left: 32px;
    text-align: left;
    color: #bbbbbb;

}

.pagina-selecionada {
    display: inline-block;
    background: linear-gradient(90deg, #14355F 0%, #1655A3 100%);
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    width: 37px;
    height: 37px;
    margin-left: 30px;
    border-radius: 50%;
    color: white;
}