body{
  background-color: #14355e;
  color: white;
}

.alinha-form{ /*alinhamento vertical*/
    margin-top: 10em; 
    
  
    display: flex;
    align-items: center;
  }
.formulario{
  border: 1px solid gray;
  box-shadow: 10px 5px 5px black;
  padding: 1em;
  margin: auto;
}

.aviso{
  border: 1px solid red;
  box-shadow: 10px 5px 5px red;
  padding: 1em;
  margin: auto;
}