@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');


html, body {
	width: 100%;
	height: 100%;
	margin: 0;	
}
:placeholder-shown{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #e8e8e8;

}
.container-edit{
    padding-right: 100px;
}

.container-edit h3{
    color: black;
    font-family: 'Open Sans';
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2rem;
}
.container-edit label{
    color: black;
    font-family: 'Open Sans';
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.container-cadastro{
    padding-right: 100px;
}

.container-cadastro h3{
    color: black;
    font-family: 'Open Sans';
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2rem;
}
.container-cadastro label{
    color: black;
    font-family: 'Open Sans';
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.add-row{
    position: relative;
    left: 97%
}

.container-cadastro textarea{
    height: 4.5rem;
}
.container-edit textarea{
    height: 4.5rem;
}

.apresentacao{
    position: relative;
    top: -7.5em;
    background-color: rgba(255,255,255, 0.85);  
    border-radius: 15px;
    width: 97%;
    height: 139px;
    margin: auto;
}
.apresentacao img{
    width: 115px;
    height: 91px;
    border-radius: 20px;
    top:1.5em
}

.apresentacao h5{
    position: relative;
    left: 5em;
    top: -2em;
    color: rgba(20, 53, 94, 1);
    font-family: 'Open Sans';
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.apresentacao p{
    position: relative;
    left: 9.5em;
    top: -4em;
    color: rgba(20, 53, 94, 1);
    font-family: 'Open Sans';
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.perfil{
    position: relative;
    padding: 20px;
    top: -6em;
    border-radius: 24px;
}

.perfil h3{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.375em;
    color: black;
}

.perfil h4{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.375em;
    color: black;
}

.perfil h5{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1em;
    color: black;
}

.cargo{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1em;
    color: black;
}
.local{
    position: relative;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1em;
    top: -1em;
    color: rgba(164, 164, 164, 1)
}

