{% extends 'base.html' %}
{%load static%}
{% block content%}
<div class="container">
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Modificado</th>
          <th scope="col">Tamanho</th>
          <th scope="col">Tipo</th>
          <th scope="col"> Links</th>
        </tr>
      </thead>
      {% if docs %}
      <tbody>
        {% for doc, i in docs %}
          <tr>
            <th scope="row">{{ doc.id }}</th>
            <td>{{ doc.nome }}</td>
            <td>{{ doc.modificado }}</td>
            <td>{{ i|filesizeformat }}</td>
            <td>{{ doc.tipo }}</td>
            <td><a href="{{ doc.doc.url }}">Link</a></td>
          </tr>
        {% endfor %}
      </tbody>
      {% endif %}
  </table>
  
</div>
</div>
{%  endblock %}