@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');


h1{
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 700;
    color:#14355E;

}
.borda{
    border-radius: 24px;
    background: var(--preto-branco, #FFF);
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.06);
}


.nome-menu{
    position:relative;
    top:-0.5em;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
    color: #464646;
    margin-left: 1.5em;
}

.nome-menu-branco{
    position:relative;
    top:-0.5em;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
    margin-left: 1.5em;
}

.seta-perfil-branca{
    margin: 15px 32px 0px 15px;
  }
.seta-perfil-cinza{
    margin: 15px 32px 0px 15px;
  }

.dropdown-item{
    color: #464646;
}

.conteudo-base{
    padding-left:22em ;
    background-color: transparent;
}

.navbar-dashboard{
    margin-left: 0.5em;
    background-color: transparent;
}
.icones{
    position: relative;
    top:0.5em;
    width:100%;
    background-color: transparent;
}

.icone-dash{
    position: relative;
    top:-0.2em;
    display:inline-block;
    margin-right: 0.5em;
    width: 22px;
    height: 22px;
}

.icone-menu{
    position: relative;
    top:-0.1em;
    display:inline-block;
    margin-right: 0.5em;
    width: 32px;
    height: 32px;
}
.icones p{
    display:inline-block;
    margin-right: 0.5em;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}
.apresentacao{
    background-image: url("../img/fundo_escuro.png");
    border: none;
    color: white;
    padding: 1.5em 1.5em 0.5em 1.5em;
    
}
.apresentacao p{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.a-institucional:hover{
    text-decoration: none;
}
.institucional{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 24px;
    background-image: url("../img/bg-institucional.png")
}
.institucional img{
    position: relative;
    left: 1.7em;
    margin-bottom: 3em;
}
.institucional h6{
    color: #14355E;
    text-align: right;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.tempo{
    background-image: url("../img/bg-temp.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 1em;
}
.tempo h1{
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 700;
    text-align: right;
    color: white;
}

.tempo h5{
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}
.tempo p{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}
.link-aniversariantes:hover{
    text-decoration: none;
}
.aniversariantes{
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    width: 100%;
    height: 256px;
    padding: 24px;
    background-image: url("../img/bg-aniversariantes.png")
}
::-webkit-scrollbar{
    display:none;
}
.aniversariantes p{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #14355E;

}
.icones-direita{
    margin-right: -1.8em;
}

.foto-aniversariante{
    width: 50px;
    height: 50px;
}
.informativos{
    background: linear-gradient(to right, #14355F, #1656A4);
    color:white;
    border: none;
    padding: 1.5em 1.5em 0.5em 1.5em;
    height: 260px;
}
.informativos h1{
    color: white;
}
.informativos h5{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.informativos p{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.informativos a{
    color:white;
}

.tag-cursos:hover{
    text-decoration: none;
    color: white;
}

.cursos{
    padding: 24px 16px 24px 24px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    background-image: url('../img/bg-cursos.png');
}
.cursos p{
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
    margin-top: 8px;
    margin-bottom: 0px;

}
.cursos h1{
    color: white;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
}

.cursos h4{
    color:white;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;

}

.feed{
    height: 831px;
    padding: 24px;
}

.calendario{
    background-image: url("../img/Calendário.png");
    height: 530px;
}

.mapa{
    position: relative;
    /* left: 31.5em; */
    top: -600px;
    background-image: url("../img/bg-mapa-obras.png");
    background-size: cover;
    height: 565px;
    margin-bottom: -600px;
}