@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');


h1 {
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 700;
    color: #14355E;

}

.borda {
    border-radius: 24px;
    background: var(--preto-branco, #FFF);
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.04);
}

.borda-completa {
    border-radius: 24px;
    background: var(--preto-branco, #FFF);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.04);
}


.nome-menu {
    position: relative;
    top: -0.5em;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
    color: #464646;
    margin-left: 1.5em;
}

.nome-menu-branco {
    position: relative;
    top: -0.5em;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
    margin-left: 1.5em;
}

.seta-perfil-branca {
    margin: 15px 32px 0px 15px;
}

.seta-perfil-cinza {
    margin: 15px 32px 0px 15px;
}

.dropdown-item {
    color: #464646;
}

.conteudo-base {
    padding-left: 22em;
    background-color: transparent;
}

.navbar-dashboard {
    margin-left: 0.5em;
    background-color: transparent;
}

.icones {
    position: relative;
    top: 0.5em;
    width: 100%;
    background-color: transparent;
}

.icone-dash {
    position: relative;
    top: -0.2em;
    display: inline-block;
    margin-right: 0.5em;
    width: 22px;
    height: 22px;
}

.icone-menu {
    position: relative;
    top: -0.1em;
    display: inline-block;
    margin-right: 0.5em;
    width: 32px;
    height: 32px;
}

.icones p {
    display: inline-block;
    margin-right: 0.5em;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}

.divisor {
    border-top: 1px solid rgba(0, 0, 0, 0.35);
    width: 90%;
    margin: 1em auto 1.5em auto;
    height: 1px;
}

.div-usuario {
    margin-top: 30px;
}

.apresentacao {
    background-image: url("../img/fundo_escuro.png");
    border: none;
    color: white;
    padding: 1.5em 1.5em 0.5em 1.5em;

}

.apresentacao p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.a-institucional:hover {
    text-decoration: none;
}

.institucional {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 24px;
    background-image: url("../img/bg-institucional.png")
}

.institucional img {
    position: relative;
    left: 1.7em;
    margin-bottom: 3em;
}

.institucional h6 {
    color: #14355E;
    text-align: right;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.tempo {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 1em;
}

.primavera {
    background-image: url("../img/primavera.png");
}

.verao {
    background-image: url("../img/verao.png");
}

.outono {
    background-image: url("../img/outono.png");
}

.inverno {
    background-image: url("../img/inverno.png");
}

.tempo h1 {
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 700;
    text-align: right;
    color: white;
}

.tempo h5 {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}

.tempo p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}

.link-cidade {
    cursor: pointer;
}

.hidden {
    display: none;
}

.show {
    display: flex;
    justify-content: right;
}

.buscar_cidade {
    width: 150px;
    margin-right: 10px;
    height: 40px;
    font-size: 20px;
    color: black;
}

.buscar_estado {
    width: 80px;
    margin-right: 10px;
    height: 40px;
}

.botao-buscar-cidade {
    padding: 8px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(#14295E, #2568BB);
}

.temperatura {
    display: flex;
    justify-content: right;
}

.temperatura img {
    width: 50px;
}

.link-aniversariantes:hover {
    text-decoration: none;
}

.aniversariantes {
    /* overflow-y: hidden; */
    width: 100%;
    height: 256px;
    padding: 24px;
    background-image: url("../img/bg-aniversariantes.png")
}

::-webkit-scrollbar {
    display: none;
}

.aniversariantes div {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #14355E;

}

.aniversariantes div p {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 25px;
}

.img-aniversariantes {
    width: 50px;
    height: 50px;
}

.icones-direita {
    margin-right: -1.8em;
}

.icone-social {
    margin-right: -1.3em;
}

.lista-aniversariantes {
    background-color: transparent;
    padding-top: 15px;
    margin-top: -25px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden;
}

.foto-aniversariante {
    width: 50px;
    height: 50px;
}

.informativos {
    background: linear-gradient(to right, #14355F, #1656A4);
    color: white;
    border: none;
    padding: 1.5em 1.5em 0.5em 1.5em;
    height: 260px;
}

.informativos h1 {
    color: white;
}

.informativos h5 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.informativos p {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.informativos a {
    color: white;
}

.tag-cursos:hover {
    text-decoration: none;
    color: white;
}

.cursos {
    padding: 24px 16px 24px 24px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    background-image: url('../img/bg-cursos.png');
}

.cursos p {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 8px;
    margin-bottom: 0px;

}

.cursos h1 {
    color: white;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
}

.cursos h4 {
    color: white;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;

}

.rede-social {
    height: 831px;
    padding: 24px;
}

.calendario {
    background: linear-gradient(to right, #14355E, #1657A7);
    height: 530px;
}

.mapa {
    position: relative;
    top: -585px;
    background-size: cover;
    height: 565px;
    margin-bottom: -600px;
    padding: 32px;
}

.estados-com-obras {
    position: absolute;
    bottom: 0px;
}


.estados-com-obras h6 {
    font-family: 'Open Sans';
    font-size: 16px;
    padding-left: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #14355E;
}

.estados-com-obras ul {
    padding-left: 16px;
}

.estados-com-obras li {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #14355E;

}


.img-profile {
    height: 2rem;
    width: 2rem;
    margin-bottom: 16px;
    top: 0px;
}


.texto-comentario {
    position: relative;
    background-color: #f9f9f9;
    padding-right: 12px;
    padding-bottom: 8px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.texto-comentario-p {
    margin-left: 48px;
}

.texto-comentario .img-comentario {
    margin-top: 12px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.nome-comentario {
    display: inline-block;
}

.autor {
    margin-top: 40px;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
    margin-bottom: 20px;
}

.autor .dropdown .mais {
    position: absolute;
    right: 24px;
    top: -50px;
}

.nome {
    position: absolute;
    top: 0px;
    left: 50px;
    display: inline-block;
    color: #14355E;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.tempo-postagem {
    position: absolute;
    top: 24px;
    left: 50px;
    color: #A4A4A4;
    font-size: 12px;
    font-family: 'Open Sans';
}

.texto-comentario .icone-comentarios-p img {
    margin-top: 12px;
    margin-left: 48px;
    margin-right: 12px;
}

.div-comentario {
    border-top: 1px solid #E8E8E8;
    margin-top: 24px;
    padding-top: 24px;
}

.div-comentario .img-input-comentario {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}

.div-comentario form {
    display: block;
}

.icones-post {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 40px;
    margin-top: 20px;
    padding-bottom: 12px;
}

.likes-p {
    display: inline-block;
    margin-right: 25px;
}

.likes-p p {
    display: inline-block;
    margin-right: 25px;
}

.comentarios-p {
    display: inline-block;
}

.likes-p img {
    margin-right: 16px;
}

.likes-p img {
    margin-top: 12px;
}

.comentarios-p img {
    margin-top: 12px;
    margin-right: 12px;
}

.link-ver-mais {
    position: absolute;
    top: 0px;
}

.conteudo-rede-social {
    height: 730px;
    width: 100%;
    padding: 24px;
    overflow: auto;
    overflow-x: hidden;
}

.link-rede-social:hover {
    text-decoration: none;
    color: #14355E;
}

.tag-informativos:hover {
    text-decoration: none;
    color: white;
}