{% extends 'base.html' %} 
{% load static %} 

{% block estilo %}
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css"/>
<link href="{% static 'informativos/css/informativos.css' %}" rel="stylesheet"/>
{% endblock %} 

{% block icones %}
<div class="icones">
  <img class="icone-dash" src="{% static 'informativos/img/icone-informativos.png' %}"/>
  <p>Informativos /</p>
  {% comment %}
  <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}" />
  {% endcomment %}
</div>
{% endblock %} 


{% block content %}
<h1>Criar Quadro</h1>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <label>Título do Quadro</label>
  <input type="text" name="titulo" class="form-control" id="titulo"/>
  <br/><br/>

  <label>Texto do Quadro</label>
  <textarea type="text" name="paragrafo" class="form-control" rows="10" id="paragrafo"></textarea>
  <br/><br/>

  <button type="submit">Salvar</button>
</form>
{% endblock %}
