{% extends 'base.html' %}
{% load static %}

{% block estilo %}
<link href="{% static 'informativos/css/informativos.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block icones %}
    <div class="icones">
        <img class="icone-dash" src="{% static 'informativos/img/icone-informativos.png' %}">
        <p>Informativos / </p>
        {% comment %} <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}"> {% endcomment %}
    </div>
{% endblock %}

{% block content %}
<div class="conteudo-informativos">
    <h1>Informativos INN</h1>

    <div class="carrossel-container">
      <div class="carrossel">
        {% for item in noticias_em_destaque %}
          <a href="{% url 'informativos/noticia' item.id %}" class="carrossel-item" style="background-image: url('{{ item.imagem_destaque.url }}');">
            <div class="texto-destaque">
              <h3 class="texto-destaque-h3">{{ item.titulo }}</h3>
              <p class="paragrafo-destaque">{{ item.paragrafo }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
      <button class="prev-button">&lt;</button>
      <button class="next-button">&gt;</button>
      <div class="dots-container"></div>
    </div>

    <h1 class="noticias-h1">Notícias</h1>

    <div class="row" style="max-width: 100%;">
      {% for item in noticias %}
        <a href="{% url 'informativos/noticia' item.id %}" class="col-6 row conteudo-thumb">
          {%if item.imagem_thumb %}
            <div class="col-6">
              <img style="width:100%;"class="imagem-thumb" src={{ item.imagem_thumb.url }}>
            </div>
          {% endif %}
          <div class="col-6 texto-thumb">
              {% if item.titulo %}
                <h6 class="titulo">{{ item.titulo }}</h6>
              {% endif %}
              {% if item.paragrafo %}
                <p class="paragrafo_thumb paragrafo">{{ item.paragrafo }}</p>
              {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
</div>

<button onclick=window.location.href="{% url 'informativos/todas_noticias' %}" class="botao botao-todos">Todas Notícias</button><br><br>

{% if user.is_staff%}
  <a href={% url 'informativos/criar_noticia' %} style="margin-left:32px;">Criar Notícia</a>
{% endif %}

<div class="container-comunicados">
  <h1>Comunicados</h1>
  <div class="row">
  {% for comunicado in comunicados %}
    <div class="col-lg-4 pl-5 div-comunicados">
      <h6>{{ comunicado.titulo }}</h6>
      <p class="paragrafo paragrafo-comunicado">{{ comunicado.paragrafo }}</p>
      <p data-toggle="modal" data-target="#comunicadoModal{{ forloop.counter }}"class="ler-mais">Ler Mais</p>
      {% if user.is_staff%}
        <a href="{% url 'informativos/editar_comunicado' comunicado.id %}" class="editar-comunicado">Editar</a>
        <a href="{% url 'deletar_comunicado' comunicado.id %}">Excluir</a>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  {% for comunicado in comunicados %}
  <div class="modal fade" id="comunicadoModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="comunicadoModalLabel{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="comunicadoModalLabel">{{ comunicado.titulo }}</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="paragrafo">{{ comunicado.paragrafo }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <button onclick=window.location.href="{% url 'informativos/todos_comunicados' %}" class="botao botao-todos">Todos Comunicados</button><br><br>
  {% if user.is_staff%}
    <a href="{% url 'informativos/criar_comunicado' %}" style="margin-left:32px;">Criar Comunicado</a><br>
  {% endif %}

</div>
{% comment %}<div class="container-quadros row">

   <h1>Quadros</h1>

  <div class="row col-3">
    <div>
      <p class="nossos-quadros">Em nossos quadros internos, você encontrará um tesouro de sabedoria sobre autoajuda, aprimoramento profissional e dicas de saúde no trabalho. Venha explorar esses recursos e descubra como você pode alcançar o seu melhor em todos os aspectos.</p>

      {% if ultimo_quadro %}
      <div class="borda-quadro  ultimo-quadro">
        <a href="{% url 'informativos/quadro' ultimo_quadro.id %}" class="quadro">
          <h6>{{ ultimo_quadro.titulo }}</h6>
          <p class="paragrafo-ultimo-quadro">{{ ultimo_quadro.paragrafo }}</p>
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row col-5">
    {% if outros_quadros %}
      {% for quadro in outros_quadros%}
      <div class="borda-quadro  outros-quadros">
        <a href="{% url 'informativos/quadro' quadro.id %}" class="quadro">
          <h6>{{ quadro.titulo }}</h6>
          <p class="paragrafo-quadro">{{ quadro.paragrafo }}</p>
        </a>
      </div>

      {% endfor %}
    {% endif %}
  </div>
  
  <div class="row col-4">
    <h5 class="saude">Saúde e Desenvolvimento Profissional</h5>
    <div  class="borda-quadro links-quadros ml-3">
      <a href="#">Promovendo a Saúde e a Produtividade <i class="fas fa-arrow-right seta float-right"></i></a>
    </div>
    <div  class="borda-quadro links-quadros ml-3">
      <a href="#">Saúde e Bem-Estar<i class="fas fa-arrow-right seta float-right"></i></a>
    </div>
    <div  class="borda-quadro links-quadros ml-3">
      <a href="#">Desenvolvimento Profissional <i class="fas fa-arrow-right seta float-right"></i></a>
    </div>
    <div  class="borda-quadro links-quadros ml-3">
      <a href="#">Sucesso Profissional e Saúde no Trabalho <i class="fas fa-arrow-right seta float-right"></i></a>
    </div>
    <button class="botoes-ver-mais">Ver Mais</button>

    <h5 class="saude">Conhecendo os Nossos Projetos</h5>
    <div  class="borda-quadro links-quadros ml-3">
      <a href="#">Conheça a obra da Auren<i class="fas fa-arrow-right seta float-right"></i></a>
    </div>
    <div  class="borda-quadro links-quadros ml-3">
      <a href="#">Veja o andamento da obra Ajinomoto <i class="fas fa-arrow-right seta float-right"></i></a>
    </div>
    <button class="botoes-ver-mais">Ver Mais</button>
  </div>
  
  
</div>
<button onclick=window.location.href="{% url 'informativos/todos_quadros' %}" class="botao botao-todos">Todos Quadros</button><br><br>

{% if user.is_staff%}
  <a href="{% url 'informativos/criar_quadro' %}">Criar Quadro</a>
{% endif %} {% endcomment %}

{% endblock %}

{% block scripts %}
<script src="{% static 'informativos/js/carrossel.js' %}"></script>
<script src="{% static 'informativos/js/js.js' %}"></script>
{% endblock %}