{% extends 'base.html' %}
{% load static %}

{% block estilo %}
<link href="{% static 'informativos/css/noticia.css' %}" rel="stylesheet">
{% endblock %}


{% block icones %}
    <div class="icones">
        <img class="icone-dash" src="{% static 'informativos/img/icone-informativos.png' %}">
        <p>Informativos / </p>
        <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}">
    </div>
{% endblock %}

{% block content %}
<h1 class="h1-informativos">Informativos INN</h1>
<div class="conteudo-noticia">

    {% if noticia.titulo %}
        <h1 class="noticia-titulo">{{ noticia.titulo }}</h1>
    {% endif %}

    {% if noticia.imagem_noticia %}
        <img src={{ noticia.imagem_noticia.url }} class="imagem-noticia">
    {% endif %}

    {% if noticia.paragrafo %}
        <pre class="paragrafo-noticia">{{ noticia.paragrafo|safe }}</pre>
    {% endif %}



<!-- Blocos aqui! -->
{% if blocos %}
    {% for bloco in blocos %}

        {% if bloco.titulo_bloco %}
            <h1 class="noticia-titulo">{{ bloco.titulo_bloco }}</h1>
        {% endif %}

        {% if bloco.imagem_bloco %}
            <img src={{ bloco.imagem_bloco.url }} class="imagem-bloco rounded mx-auto d-block mb-5">
        {% endif %}

        {% if bloco.paragrafo_bloco %}
            <pre class="paragrafo-noticia">{{ bloco.paragrafo_bloco|safe }}</pre>
        {% endif %}

    {% endfor %}
{% endif %}

{% if user.is_staff%}
    <a href="{% url 'informativos/editar_noticia' noticia.id %}" class="editar-comunicado">Editar</a>
    <a href="{% url 'deletar_noticia' noticia.id %}">Excluir</a>
{% endif %}


{% if noticia.obter_lista_de_tags %}
    <h3 class="tag">Tag</h3>
    <div>
        {% for tag in noticia.obter_lista_de_tags %}
            <div class="tags">{{ tag }}</div>
        {% endfor %}
    </div>
{% endif %}

</div>


{% if tags_relacionadas %}
<h1 class="mais-noticias">Ver outras notícias</h1>
<div class="container">
    <div class="row">
    {% for noticia in tags_relacionadas %}
    <div class="col-4">
        <div class="card">
            <img class="card-img-top" src={{ noticia.imagem_thumb.url }} alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ noticia.titulo }}</h5>
            <p class="card-text paragrafo-card">{{ noticia.paragrafo }}</p>
            <a href="{% url 'informativos/noticia' noticia.id %}" class="btn btn-primary">Ver notícia</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
<script src="{% static 'informativos/js/js.js' %}"></script>

{% endblock %}