{% extends 'base.html' %}
{% load static %}

{% block icones %}
    <div class="icones">
        <img class="icone-dash" src="{% static 'dashboard/img/dash-cinza.png' %}">
        <p>Dashboard / </p>
        <img class="icone-menu" src="{% static 'dashboard/img/menu-cinza.png' %}">
    </div>

{% endblock %}

{% block content %}

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <h1 style="margin:0 0 1em 0em;">Dashboard</h1>

            <div class="row">
                <!-- Apresentação -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="apresentacao borda">
                        <h1 style="color: white;">Oi {{perfil.nome}}!</h1>
                        <p>Estamos desenvolvendo novas experiências para nossos colaboradores, esperamos que goste do novo ambiente interno de comunicação da Innovatore Engenharia. Em breve traremos mais novidades nesta plataforma. Acompanhe as novidades em nosso card de notícias.</p>
                    </div>
                </div>

                <!-- Institucional -->
                <a href="{% url 'institucional' %}" class="col-xl-5 col-md-6 mb-4 text-right a-institucional">
                    <div class="institucional borda">
                        <img src="{% static 'dashboard/img/institucional-icone.png' %}">
                        <h1>Institucional</h1>
                        <h6>Conheça Nossa História</h6>
                    </div>
                </a>

                <!-- Informações de tempo -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="tempo borda">
                        <h1>5°</h1>
                        <h5>Inverno</h5>
                        <br><br>
                        <h5>São Paulo/SP</h5>
                        <p>Quarta-Feira, 15 de Agosto de 2023</p>
                    </div>
                </div>
            </div>

            <!-- Aniversariantes -->
            <div class="row justify-content-end">
                <div class="col-4 mb-4">
                    <div class="aniversariantes borda pb-0">
                        <img src="{% static 'dashboard/img/aniversariantes-icone.png' %}" class="icones-direita float-end">
                        <h1 class="mb-0">Aniversariantes</h1>
                        <br>
                        {% for user in aniversariantes %}
                        <p class="m-1">
                            {% if not user.foto %}
                            <img  class="img-profile rounded-circle foto-aniversariante" src="{% static 'dashboard/img/pu-2.png' %}">
                            {% else %}
                            <img class="img-profile rounded-circle foto-aniversariante" src="{{ user.foto.url }}"> 
                            {% endif %}
                            {{ user.nascimento|date:"d/m"}} - Aniversário de {{user.nome }}</p>
                        {% empty %}
                        <p> Não Há Aniversariantes Este Mês </p>
                        {% endfor %}
                    </div>
                    <div class="feed borda mt-4">
                        <h1>Feed de Notícias</h1>
                    </div>
                </div>

                <!--Informativos-->
                <div class="col-xl-5 col-md-6 mb-4">
                    <div class="informativos borda">
                        <img src="{% static 'dashboard/img/informativos-icone.png' %}" class="icones-direita float-end">
                        <h1>Informativos</h1>
                        <h5>Paracel construirá 1° fábrica de celulose do Paraguai em 2024</h5>
                        <p>Com investimento estimado em US$ 4 bilhões, a Paracel prevê iniciar a construção da primeira fábrica de celulose do Paraguai em 2024. A planta será instalada em Concepción e terá capacidade para produzir 1,8 milhão de toneladas por ano de celulose kraft de eucalipto.</p>
                        <a class="float-end">Ler Mais</a>
                    </div>
                <!--Cursos-->
                    <div class="cursos borda mt-4">
                        <p>Invista em você!</p>
                        <h1>Cursos Gratuitos</h1>
                        <h4>Acesse Agora<h4>
                    </div> 
                </div>

                <!-- Calendário -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="calendario borda">
                    </div>
                </div>
                <!-- Mapa -->
                <div class="col-xl-8 mb-4">
                    <div class=" mapa borda">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Wrapper -->

</div>

{% endblock %}