html {
  background-color: white;
}

.conteudo-informativos {
  background-color: white;
  min-height: 100%;
  padding: 32px;
}

.col-4 {
  width: auto;
}

.col-5 {
  margin: 0px;
}

h5 {
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #14355E;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 32px;
}

.texto-destaque {
  position: absolute;
  width: 1028px;
  bottom: 56px;
  left: 32px;
}

.texto-destaque-h3 {
  font-family: Open' Sans';
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: white;

}

.paragrafo-destaque {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

h6 {
  color: #14355E;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.input-busca {
  background-image: url('../../cartao_visitas/img/lupa-input.png');
  background-repeat: no-repeat;
  background-position: 32px 15px;
  margin-right: 24px;
  width: 411px;
  height: 64px;
  padding: 18px 32px 14px 86px;
  border-radius: 30px;
  border: 1px solid #e8e8e8;
  gap: 10px;

}

/* Para navegadores webkit como Safari */
input[name='buscar']::-webkit-input-placeholder {
  color: var(--preto-preto-300, #e8e8e8);
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  /* padding-left: 44px; */

}

input:-ms-input-placeholder {
  color: var(--preto-preto-300, #e8e8e8);
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.botao-pesquisar {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;


  width: 158px;
  height: 64px;
  padding: 12px 44px 12px 40px;
  border-radius: 30px;
  gap: 10px;
  background: linear-gradient(#14295E, #2568BB);
  color: white;
  margin-right: 50px;
}

.paragrafo {
  font-family: 'Open Sans';
  color: #464646;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.conteudo-thumb {
  padding: 0px 0px 32px 32px;
}

.imagem-thumb {
  border-radius: 12px;
}

.texto-thumb {
  margin: auto 0px;
  text-decoration: none;
}

.noticias-h1 {
  margin-left: 20px;
}

/* carrossel */

/* styles.css */
.carrossel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.carrossel-item {
  position: relative;
  border-radius: 12px;
  flex: 0 0 100%;
  height: 496px;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  margin-bottom: 80px;
  clip-path: border-box;
}

.carrossel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(20, 53, 95, 1));
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: gray;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 3em;
}

.next-button {
  right: 0;
}

.dots-container {
  position: absolute;
  text-align: center;
  bottom: 100px;
  left: 45%;
  z-index: 1 !important;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  z-index: 1000;
}

.dot.active {
  background-color: white;
  height: 20px;
  width: 20px;
  margin-bottom: -2px;
}

.inline-bloco {
  margin-bottom: 32px;
}

.dynamic-form {
  position: relative
}

.add-row {
  position: absolute;
  bottom: 30px;
  right: 40px;

}


.container-comunicados {
  background-color: #F4F4F4;
  padding: 64px;
  margin-top: 64px;
  min-height: 100%;
  padding-left: 0px !important;
  margin-bottom: 32px;
}

.container-comunicados h1 {
  margin-left: 32px;
}

.div-comunicados {
  cursor: pointer;
  margin-bottom: 50px;
}

.editar-comunicado {
  margin-right: 15px;
}

.ler-mais {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #14355E;
}

.conteudo-quadros {
  max-width: 100%;
}

.container-quadros {
  padding: 80px 32px 120px 32px;
  max-width: 100%;
}

.saude {
  margin-bottom: 25px;
}

.nossos-quadros {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #464646;
  margin-bottom: 80px;
}

.quadro h6 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #14355E;
}

.quadro p {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #464646;

}

.borda-quadro {
  width: 100%;
  border: 1px solid #bbbbbb;
  border-radius: 12px;
  margin-right: 24px;
  margin-bottom: 32px;
}

.ultimo-quadro {
  padding: 130px 32px;
}

.outros-quadros {
  padding: 50px 32px;
  height: 250px;
}

.links-quadros {
  width: 461px;
  height: 80px;
  padding: 24px 21px 24px 34px;
  color: #14295E;

}

.links-quadros:hover {
  background: linear-gradient(90deg, #14295E 0%, #2568BB 100%);
  color: white;
}

.links-quadros a {
  color: #14295E;
  padding-top: 20px;
}

.links-quadros:hover a {
  color: white;
}



.botao {
  padding: 10px;
  border-radius: 6px;
  background: linear-gradient(90deg, #14295E 0%, #2568BB 100%);
  color: white;
  font-size: 12px;
}

.botoes-ver-mais {
  margin-left: 80%;
  margin-bottom: 25px;
  width: 100px;
  padding: 10px;
  border-radius: 6px;
  background: linear-gradient(90deg, #14295E 0%, #2568BB 100%);
  color: white;
  font-size: 12px;
}

.botao-todos {
  margin-left: 32px;
}

.paginacao {
  background-color: transparent;
  margin-top: 100px;
  padding-bottom: 52px;
}

.paginas {
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  margin-left: 32px;
  text-align: left;
  color: #bbbbbb;

}

.pagina-selecionada {
  display: inline-block;
  background: linear-gradient(90deg, #14355F 0%, #1655A3 100%);
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 400;
  width: 37px;
  height: 37px;
  margin-left: 30px;
  border-radius: 50%;
  color: white;
}