@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');



html {
    background-color: white;
}

.h1-informativos {
    margin-left: 25px;
}

h2 {
    font-family: 'Open Sans';
    color: #14295E;
    margin-top: 32px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;

}

.conteudo-noticia {
    background-color: white;
    min-height: 100%;
    padding-right: 32px;
    margin-left: 137px;
    width: 1295px;
    margin-top: 137px;
}

.conteudo-noticia h1 {
    margin-bottom: 43px;
}

.imagem-noticia {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 33px;
}

.paragrafo-noticia {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}

pre {
    white-space: pre-wrap;
}

.noticia-titulo {
    margin: 40px 0px;
}

.tag {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
    margin-left: 24px;
    margin-top: 160px;
}

.tags {
    width: fit-content;
    display: inline-block;
    margin: 32px 0px 120px 24px;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    background-color: #e8e8e8;
    color: #14355E;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

}

.mais-noticias {
    text-align: center;
    margin-bottom: 44px;
}

.editar-comunicado {
    margin-right: 15px;
}

.imagem-bloco {
    height: 472px;
}

.formulario_editar_comentario {
    position: fixed;
    border: 1px solid gray;
    top: 40%;
    right: 35%;
    z-index: 1000;
    display: none;
    background-color: white;
    width: 700px;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 24px;
}

.comentarios-p img {
    margin-top: 12px;
    margin-right: 12px;
}

.img-profile {
    height: 2rem;
    width: 2rem;
    margin-bottom: 16px;
    top: 0px;
}

.foto-perfil {
    width: 91px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto-comentario {
    position: relative;
    background-color: #f9f9f9;
    padding-right: 12px;
    padding-bottom: 8px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.texto-comentario-p {
    margin-left: 48px;
}

.texto-comentario .img-comentario {
    margin-top: 12px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.nome-comentario {
    display: inline-block;
}

.texto-comentario .icone-comentarios-p img {
    margin-top: 12px;
    margin-left: 48px;
    margin-right: 12px;
}

.div-comentario {
    border-top: 1px solid #E8E8E8;
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.div-comentario .img-input-comentario {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}

.div-comentario form {
    display: block;
}

.link-excluir-comentario {
    position: absolute;
    right: 90px;
    bottom: 8px;
}

.link-editar-comentario {
    position: absolute;
    right: 24px;
    bottom: 8px;
}

.container-comentarios {
    max-height: 220px;
    overflow: auto;
    overflow-x: hidden;
}


.botao-comentar {
    color: white;
    background: linear-gradient(#14295E, #2568BB);
    padding: 6px 12px;
    border-radius: 12px;
}

.botao {
    color: white;
    background: linear-gradient(#14295E, #2568BB);
    width: 160px;
    height: 64px;
    padding: 12px auto;
    border-radius: 12px;
    gap: 10px;
    margin-right: 12px;

}