@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');



html{
    background-color: white;
}
.h1-informativos{
    margin-left: 25px;
}

.conteudo-noticia{
    background-color: white;
    min-height: 100%;
    padding-right: 32px;
    margin-left: 137px;
    width: 1295px;
    margin-top: 137px;
}

.conteudo-noticia h1{
    margin-bottom: 43px;
}

.imagem-noticia{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 33px;
}

.paragrafo-noticia{
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}
pre{
    white-space: pre-wrap;
}

.noticia-titulo{
    margin: 40px 0px;
}

.tag{
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
    margin-left: 24px;
    margin-top: 160px;
}

.tags{
    width:fit-content;
    display:inline-block;
    margin: 32px 0px 120px 24px;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    background-color: #e8e8e8;
    color: #14355E;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

}

.mais-noticias{
    text-align: center;
    margin-bottom: 44px;
}

.editar-comunicado{
    margin-right: 15px;
  }

.imagem-bloco{
    height: 472px;
}