@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');



html {
    background-color: #f9f9f9;
}

.conteudo-base {
    background-color: #f9f9f9;
    min-height: 100%;
}

.formulario-postagem {
    display: none;
    background-color: white;
    width: 1011px;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 24px;
}

.formulario_editar_postagem {
    display: none;
    background-color: white;
    width: 100%;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 24px;
}

.formulario_editar_comentario {
    position: fixed;
    border: 1px solid gray;
    top: 40%;
    right: 35%;
    z-index: 1000;
    display: none;
    background-color: white;
    width: 700px;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 24px;
}


.imagem-postada {
    height: 604px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.texto-postagem {
    width: 100%;
    margin-bottom: 24px;
}

.botao {
    color: white;
    background: linear-gradient(#14295E, #2568BB);
    width: 160px;
    height: 64px;
    padding: 12px auto;
    border-radius: 12px;
    gap: 10px;
    margin-right: 12px;

}

.botao-comentar {
    color: white;
    background: linear-gradient(#14295E, #2568BB);
    padding: 6px 12px;
    border-radius: 12px;
}

.primeira-linha {
    position: relative;
    margin-bottom: 24px;
}

.primeira-linha button {
    position: absolute;
    right: 560px;
    top: 0px;
}

.adicionar {
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(#143763, #16519A);
    color: white;
    font-size: 24px;
}

.autor {
    border-bottom: 1px solid #E8E8E8;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.autor img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.autor .dropdown .mais {
    position: absolute;
    right: 24px;
    top: -85px;
}

.posts {
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 24px;
    width: 1011px;
    margin-right: 24px;
    padding: 32px 24px 32px 24px;
    height: min-content;
    margin-bottom: 34px;
}

.posts .nome {
    position: absolute;
    top: 10px;
    left: 70px;
    display: inline-block;
    color: #14355E;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.posts .tempo-postagem {
    position: absolute;
    top: 35px;
    left: 70px;
    color: #A4A4A4;
    font-size: 12px;
    font-family: 'Open Sans';
}

.posts img {
    border-radius: 12px;
}

.descricao {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
    margin-bottom: 24px;
}

.icones-post {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 40px;
    margin-top: 20px;
    padding-bottom: 12px;
}

.likes-p {
    display: inline-block;
    margin-right: 25px;
}

.likes-p p {
    display: inline-block;
    margin-right: 25px;
}

.comentarios-p {
    display: inline-block;
}

.likes-p img {
    margin-right: 16px;
}

.likes-p img {
    margin-top: 12px;
}

.comentarios-p img {
    margin-top: 12px;
    margin-right: 12px;
}

.contatos {
    position: sticky;
    top: 24px;
    float: right;
    padding: 24px;
    margin-right: 32px;
    height: 873px;
    background-color: white;
    border-radius: 24px;
    width: 494px;
}

.contatos-interno {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden;
    height: 730px;
    padding-top: 30px;
}

.img-profile {
    height: 2rem;
    width: 2rem;
    margin-bottom: 16px;
    top: 0px;
}

.foto-perfil {
    width: 91px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.nome-e-cargo {
    position: relative;
    margin-bottom: 32px;
}

.nome-contatos {
    position: absolute;
    left: 115px;
    top: 20px;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #14355E;
}

.cargo {
    position: absolute;
    top: 50px;
    left: 115px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #464646;
}

.link-contatos {
    position: absolute;
    bottom: 30px;
    right: 64px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #14355E;
}

.texto-comentario {
    position: relative;
    background-color: #f9f9f9;
    padding-right: 12px;
    padding-bottom: 8px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.texto-comentario-p {
    margin-left: 48px;
}

.texto-comentario .img-comentario {
    margin-top: 12px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.nome-comentario {
    display: inline-block;
}

.texto-comentario .icone-comentarios-p img {
    margin-top: 12px;
    margin-left: 48px;
    margin-right: 12px;
}

.div-comentario {
    border-top: 1px solid #E8E8E8;
    margin-top: 24px;
    padding-top: 24px;
}

.div-comentario .img-input-comentario {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}

.div-comentario form {
    display: block;
}

.link-excluir-comentario {
    position: absolute;
    right: 90px;
    bottom: 8px;
}

.link-editar-comentario {
    position: absolute;
    right: 24px;
    bottom: 8px;
}

.container-comentarios {
    max-height: 220px;
    overflow: auto;
    overflow-x: hidden;
}